<% content_for(:cont) do %>



<div class="green_title" style="background-color: #03B1EE; width: 745px;" >Заказ каталога 2013</div>
<br/>
<h2 style="color: #F47920;"> Дорогие друзья «Живого офиса»!</h2>
<div style="width: 745px; margin-top: 20px; color: #808285;">
  <img src="/images2/sekret.gif" style="float: right;" />
  <p>В этом году мы достигли больших успехов вместе с вами! <br/> <br/>

Мы выросли, существенно расширили ассортимент, снизили цены, запустили много веселых проектов, конкурсов и акций.
Теперь в «Живом офисе» можно купить более 10000 товаров!<br/> <br/>

В новом каталоге вы можете выбрать красивую и качественную офисную мебель, много новинок для создания красивого интерьера и декора,
наведения порядка в офисе, гораздо больше компьютерных аксессуаров и бытовой техники.<br/>
Подбирайте подарки и деловую галантерею, покупайте продукты питания, не выходя из офиса.<br/> <br/>

А мы будем продолжать радовать вас отличными ценами, разными приятными штучками, бонусами за каждый заказ и подарками!<br/> <br/>

Спасибо за то, что вы с нами!<br/> 
Ваш, «Живой офис»
  </p>

  <p style="margin-top: 20px; font-weight: bold; color: #03B1EE;">

    Желтенький, яркий, упитанный, в нем почти 600 страниц и 10 000 разнообразных товаров для офиса и офисной жизни.
Читайте новую серию комикса про Лерочку и мудрые высказывания рыжего кота!
  </p>

</div>


<br/>

<div style="display: inline-block; width: 210px; text-align: right; float: right;">
  <img src="/images2/konfety123.jpg" style="margin-top: 13px; margin-right: 40px;"/>
</div>

<table id="zkvof" border="0" width="520px" >
  <tr>
    <td valign="top">
      <%= image_tag ("/images2/p_z.gif") %>
    </td>
    <td width="10px"></td>
    <td style="padding-right:10px;" valign="top" align="left">
<% form_for(@zakaz_catalog) do |f| %>
  <%= f.error_messages %>

  <p style="color:black; font-size:11px;">
    Название компании:<br />
    <%= f.text_field :c_name ,:style=>'width: 240px;'%>
  </p>
  <p style="color:black; font-size:11px;">
    Адрес доставки:<br />
    <%= f.text_area :adres ,:style=>'width: 240px; height: 73px;' %>
  </p>
  <p style="color:black; font-size:11px;">
    Телефон:<br />
    <%= f.text_field :tel  %>
  </p>
  <p style="color:black; font-size:11px;">
    ФИО контактного лица:<br />
    <%= f.text_field :fio , :cols=>45%>
  </p>

  <p style="color:black; font-size:11px;">
     Город:<br />
 <select name="zakaz_catalog[city]" id="zakaz_catalog_city" style="width:244px; ">
  <option value="Санкт-Петербург" <%= 'selected="selected"' if session[:city]=='spb' %> >Санкт-Петербург</option>
  <option value="Москва" <%= 'selected="selected"' if session[:city]=='msk' %> >Москва</option>
  <option value="Смоленск" <%= 'selected="selected"' if session[:city]=='smo' %> >Смоленск</option>

</select>
<br/>
  </p>
    <p style="margin-top: 20px; font-weight: bold; color: #03B1EE;  margin-right: 10px ">
    Заказывайте каталог,<br/>
    и мы доставим его бесплатно вместе с подарком!<br/>
  </p>
  <p align="right" style="margin-top: 20px;">
    <%= f.submit "Заказать" , :style=>'border: none; cursor: pointer; text-transform: uppercase;' %>
  </p>
<% end %>

    </td>
  </tr>
</table>






<br/> <br/>



<div class="green_title" style="background-color: #03B1EE; width: 524px;" >Заказ экспресс-каталога</div>
<br/>
<table id="zkvof" border="0" width="520px" >
  <tr>
    <td valign="top">
      <%= image_tag ("/images2/expresskatalog_zakaz.gif") %>
    </td>
    <td width="10px"></td>
    <td style="padding-right:10px;" valign="top" align="left">
<% form_for :zakaz_p , :url=>{:controller=>'zakaz_catalogs' , :action=>'zakaz_p' } do |f| %>
  <%= f.error_messages %>

  <p style="color:black; font-size:11px;">
    Название компании:<br />
    <%= f.text_field :c_name ,:style=>'width: 240px;'%>
  </p>
  <p style="color:black; font-size:11px;">
    Адрес доставки:<br />
    <%= f.text_area :adres ,:style=>'width: 240px; height: 73px;' %>
  </p>
  <p style="color:black; font-size:11px;">
    Телефон:<br />
    <%= f.text_field :tel  %>
  </p>
  <p style="color:black; font-size:11px;">
    ФИО контактного лица:<br />
    <%= f.text_field :fio , :cols=>45%>
  </p>

  <p style="color:black; font-size:11px;">
     Город:<br />
 <select name="zakaz_p[city]" id="zakaz_p_city" style="width:244px; ">
  <option value="Санкт-Петербург" <%= 'selected="selected"' if session[:city]=='spb' %> >Санкт-Петербург</option>
  <option value="Москва" <%= 'selected="selected"' if session[:city]=='msk' %> >Москва</option>
  <option value="Смоленск" <%= 'selected="selected"' if session[:city]=='smo' %> >Смоленск</option>
   
</select>
<br/>
  </p>
  <p align="right" style="margin-top: 20px;">
    <%= f.submit "Заказать" , :style=>'border: none; cursor: pointer; text-transform: uppercase;' %>
  </p>
<% end %>

    </td>
  </tr>
</table>
<div style="width: 760px; margin-top: 20px; color: #808285;">

  <h2 style="color: #F47920;">Всем! Всем! </h2>
  <p>
Вышел в свет наш новый глянцевый журнал-каталог о жизни офиса - спешите заказать,
и мы доставим его бесплатно нашей курьерской службой!
  </p>
    <br/>
  <p style="color: #F47920;">
Офис — место притяжения
  </p>
  <br/>
  <p>
    <img src="/images2/elvira_express-katalog.gif" style="float: right; margin-left: 10px;" />
Когда мне было 20 лет, я мечтала работать в офисе. Офис мне представлялся местом,
куда так интересно ходить в туфлях на шпильке, элегантном деловом костюме и, обязательно,
с модной укладкой.  <br/>
Как всегда и бывает, когда моя мечта сбылась, тут же пришло понимание,
что на самом деле, мне хочется совсем другого. Свободы, самореализации, новых впечатлений,
а ещё комфорта и красоты. Кажется, и эта моя мечта близка к исполнению, поэтому теперь
я хочу поделиться своим опытом с вами. <br/>
Что делает офис притягательным и живым? <br/>
Атмосфера увлечённости сотрудниками делом, аромат кофе, живые цветы, дизайнерские офисные принадлежности,
подарки и праздники, добрые и уважительные отношения. <br/>
Мы придумали этот журнал, чтобы рассказать вам о том, как с помощью простых вещей сделать офис комфортным и красивым.
  </p>
  <br/>
  <p>
Будьте с нами! Мы вас любим!
  </p>
  <p>
Эльвира Пикалёва  <br/>
Управляющий группы компаний «Живой офис»
  </p>

</div>




<%@links = 'zakaz_catalogs'%> <%@subj = 'Заказ каталога на сайте Живой офис'%>
<%= render(:partial=> 'part/links' , :object=>@links , :object=>@subj ) %>

<%end%>

