<div class="menu_down">
    <%= link_to 'ГЛАВНАЯ' , {:action=>'index'}%>
   <%= link_to 'ЦЕНЫ' , {:action=>'price'}%>
   <%= link_to 'КОНТАКТЫ' , {:action=>'contacts'}%>
   <%= link_to 'ИНФОРМАЦИЯ' , {:action=>'info'}%>

  </div>
  