<% content_for(:cont) do %>

<script language="javascript">

function open_win(fn,w,h)
{

window.open(fn, "blank1","height="+h+",width="+w+",top=0, left=260, status=0,toolbar=0,menubar=0,location=0, directories=0, resizable=0");
}
</script>

<div>
<div class="green_title">Наши достижения. &quot;Спенс&quot; - ведущая компания группы &quot;Живой офис&quot;. На рынке офисного обеспечения с 1996 г.</div>

 
<br />
<div style=" margin-left: 10px;">
<span class="butt_act" >СЕРТИФИКАТЫ </span> |
<a href="/progr1/letter" class="butt_inact"> БЛАГОДАРСТВЕННЫЕ ПИСЬМА</a>
</div>
<br /><br />
<div class="sert_carrier">

<div class="sert_box">
<div class="sert_img"><a href="javascript:open_win('/images/progr/hp_big.jpg',600,842)"><img src="/images/progr/hp_sm.jpg" /></a></div>
<span class="firm_name"> HEWLETT-PACKARD </span>
</div>

<div class="sert_box">
<div class="sert_img"><a href="javascript:open_win('/images/progr/s_apli.jpg',600,842)"><img src="/images/progr/s1_apli.jpg" /></a></div>
<span class="firm_name"> APLI PAPER S. A. </span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_deep2000.jpg',600,842)"><img src="/images/progr/s1_deep2000.jpg" /></a></div>
<span class="firm_name"> ООО &quot;ДИИП 2000&quot;</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_esselte.jpg',600,842)"><img src="/images/progr/s1_esselte.jpg" /></a></div>
<span class="firm_name"> ООО &quot;Ессельте&quot;</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_expert.jpg',600,842)"><img src="/images/progr/s1_expert.jpg" /></a></div>
<span class="firm_name"> ООО &quot;ГКЦ Балтик&quot;</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_fellowes05.jpg',600,842)"><img src="/images/progr/s1_fellowes05.jpg" /></a></div>
<span class="firm_name"> Fellowes GmbH 2005</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_fellowes06.jpg',600,842)"><img src="/images/progr/s1_fellowes06.jpg" /></a></div>
<span class="firm_name">Fellowes GmbH 2006</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_fellowes.jpg',600,842)"><img src="/images/progr/s1_fellowes.jpg" /></a></div>
<span class="firm_name">Fellowes GmbH</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_nazareno.jpg',600,842)"><img src="/images/progr/s1_nazareno.jpg" /></a></div>
<span class="firm_name"> ЗАО &quotеБазар&quot</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_regent.jpg',600,842)"><img src="/images/progr/s1_regent.jpg" /></a></div>
<span class="firm_name"> ООО &quot;Регент -Нева&quot;</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_sunford.jpg',600,842)"><img src="/images/progr/s1_sunford.jpg" /></a></div>
<span class="firm_name"> SUNFORD</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_vileda.jpg',600,842)"><img src="/images/progr/s1_vileda.jpg" /></a></div>
<span class="firm_name"> Vileda Professional</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox05.jpg',842,600)"><img src="/images/progr/s1_xerox05.jpg" /></a></div>
<span class="firm_name">XEROX LTD. 2005</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox07.jpg',842,600)"><img src="/images/progr/s1_xerox07.jpg" /></a></div>
<span class="firm_name">XEROX LTD. 2007 </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox09.jpg',842,600)"><img src="/images/progr/s1_xerox09.jpg" /></a></div>
<span class="firm_name">XEROX LTD. 2009 </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox10.jpg',842,600)"><img src="/images/progr/s1_xerox10.jpg" /></a></div>
<span class="firm_name">XEROX LTD. 2011 </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox11.jpg',842,600)"><img src="/images/progr/s1_xerox11.jpg" /></a></div>
<span class="firm_name">XEROX LTD. 2011 </span></div>

</div>



</div>


<%end%>



