<% content_for(:cont) do %>

<script language="javascript">

function open_win(fn,w,h)
{

window.open(fn, "blank1","height="+h+",width="+w+",top=0, left=260, status=0,toolbar=0,menubar=0,location=0, directories=0, resizable=0");
}
</script>


<div>

  <div class="green_title">Наши достижения. &quot;Спенс&quot; - ведущая компания группы &quot;Живой офис&quot;. На рынке офисного обеспечения с 1996 г.</div>


<br />
<div style=" margin-left: 10px;">
<span class="butt_act" > БЛАГОДАРСТВЕННЫЕ ПИСЬМА</span> |
<a href="/progr1/index" class="butt_inact">СЕРТИФИКАТЫ </a>
</div>


<br /><br />
<div class="sert_carrier">

    <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/gasprom.jpg',600,842)"><img src="/images/progr/1gasprom.jpg" /></a></div>
<span class="firm_name">ЗАО "ГАЗПРОМНЕФТЬ-СЕВЕРО-ЗАПАД"</span></div>

    <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/faeton.jpg',600,842)"><img src="/images/progr/1faeton.jpg" /></a></div>
<span class="firm_name">Топливная компания "Фаэтон"</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_balt_bank.jpg',600,842)"><img src="/images/progr/l1_balt_bank.jpg" /></a></div>
<span class="firm_name">Балтийский Банк</span></div>

 <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/nws.jpg',600,842)"><img src="/images/progr/nws_sm.jpg" /></a></div>
<span class="firm_name">ООО «НОРД-ВЕСТ СЕРВИС»</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/dor.jpg',600,842)"><img src="/images/progr/dor_sm.jpg" /></a></div>
<span class="firm_name">ООО «ДОРОЖНИК 92»</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/omz.jpg',600,842)"><img src="/images/progr/omz_sm.jpg" /></a></div>
<span class="firm_name">ОАО «ИЖОРСКИЕ ЗАВОДЫ»</span></div>


<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/len_big.jpg',600,842)"><img src="/images/progr/len_sm.jpg" /></a></div>
<span class="firm_name">ЗАО «ЛЕНИНСКИЙ 160»</span></div>


<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/mosk_big.jpg',600,842)"><img src="/images/progr/mosk_sm.jpg" /></a></div>
<span class="firm_name">ООО БИЗНЕС-ЦЕНТР «МОСКОВСКИЙ,79-А»</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/plk_big.jpg',600,842)"><img src="/images/progr/plk_sm.jpg" /></a></div>
<span class="firm_name">ООО «ПЛК»</span></div>


 <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/ros_big.jpg',600,842)"><img src="/images/progr/ros_sm.jpg" /></a></div>
<span class="firm_name">ООО «Росинвест»</span></div>
  
<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/pf_big.jpg',600,842)"><img src="/images/progr/pf_sm.jpg" /></a></div>
<span class="firm_name">ООО «Петровский Форт»</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/petro_big.jpg',600,842)"><img src="/images/progr/petro_sm.jpg" /></a></div>
<span class="firm_name">ООО «ПетроВЕС»</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/katarsis_b.jpg',600,842)"><img src="/images/progr/katarsis_s.jpg" /></a></div>
<span class="firm_name">ООО НПК «Катарсис»</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_cso.jpg',600,842)"><img src="/images/progr/l1_cso.jpg" /></a></div>
<span class="firm_name"> ГУ КЦСОН</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_dobriy.jpg',600,842)"><img src="/images/progr/l1_dobriy.jpg" /></a></div>
<span class="firm_name"> Фестиваль &quot;Добрый Питер&quot;</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_ethno.jpg',600,842)"><img src="/images/progr/l1_ethno.jpg" /></a></div>
<span class="firm_name">РОССИЙСКИЙ ЭТНОГРАФИЧЕСКИЙ МУЗЕЙ</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_pigment.jpg',600,842)"><img src="/images/progr/l1_pigment.jpg" /></a></div>
<span class="firm_name">ООО &quot;НПК ПК&quot;Пигмент&quot;. </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_ufns.jpg',600,842)"><img src="/images/progr/l1_ufns.jpg" /></a></div>
<span class="firm_name">УФНС России по Санкт-Петербургу</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_id_shans.jpg',600,842)"><img src="/images/progr/l1_id_shans.jpg" /></a></div>
<span class="firm_name">ООО &quot;Издательский дом &quot;ШАНС&quot; </span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_detdom.jpg',600,842)"><img src="/images/progr/l1_detdom.jpg" /></a></div>
<span class="firm_name">Детский дом №6 Приморского района</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_arb_sud.jpg',600,842)"><img src="/images/progr/l1_arb_sud.jpg" /></a></div>
<span class="firm_name">Арбитражный суд Санкт-Петербурга и Лен. области</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_adm_vr.jpg',600,842)"><img src="/images/progr/l1_adm_vr.jpg" /></a></div>
<span class="firm_name">Администрация Василеостровского района С-Пб</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_otd_sotszasch.jpg',600,842)"><img src="/images/progr/l1_otd_sotszasch.jpg" /></a></div>
<span class="firm_name">Отдел соц. защиты населения Администрации Василеостровского р-на</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_fort.jpg',842,600)"><img src="/images/progr/l1_fort.jpg" /></a></div>
<span class="firm_name">ТД &quot;Форт&quot;</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_predpr_goda.jpg',600,842)"><img src="/images/progr/l1_predpr_goda.jpg" /></a></div>
<span class="firm_name">Премия &quot;Передприятие &quot;</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_mo_obuh.jpg',600,842)"><img src="/images/progr/l1_mo_obuh.jpg" /></a></div>
<span class="firm_name">МО &quot;Обуховский&quot;</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_min_nalog.jpg',600,842)"><img src="/images/progr/l1_min_nalog.jpg" /></a></div>
<span class="firm_name">Мин. РФ по налогам и сборам по С-Пб</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_soc_zasch.jpg',600,842)"><img src="/images/progr/l1_soc_zasch.jpg" /></a></div>
<span class="firm_name">Отдел соц. защиты насаления Администрации Кроштадтского р-на С-Пб</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_pens_fond.jpg',600,842)"><img src="/images/progr/l1_pens_fond.jpg" /></a></div>
<span class="firm_name">Пенсионный фонд РФ</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_zaniatosty.jpg',600,842)"><img src="/images/progr/l1_zaniatosty.jpg" /></a></div>
<span class="firm_name">Департамент ФГС занятости населения по С-Пб</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_izbirkom2.jpg',600,842)"><img src="/images/progr/l1_izbirkom2.jpg" /></a></div>
<span class="firm_name">Санкт-Петербургская ИЗБИРАТЕЛЬНАЯ КОМИССИЯ</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_piaterochka.jpg',600,842)"><img src="/images/progr/l1_piaterochka.jpg" /></a></div>
<span class="firm_name">Сеть магазинов &quot;Пятерочка&quot;</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_metrokom.jpg',600,842)"><img src="/images/progr/l1_metrokom.jpg" /></a></div>
<span class="firm_name">ЗАО &quot;Метроком&quot;</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_isbirkom.jpg',600,842)"><img src="/images/progr/l1_isbirkom.jpg" /></a></div>
<span class="firm_name">Территориальная избирательная комиссия №25</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_pitprod.jpg',600,842)"><img src="/images/progr/l1_pitprod.jpg" /></a></div>
<span class="firm_name">ООО &quot; ПИТ-ПРОДУКТ&quot;</span></div>

  <div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/l_balt_bank.jpg',600,842)"><img src="/images/progr/l1_balt_bank.jpg" /></a></div>
<span class="firm_name">Балтийский Банк</span></div>



  

</div>



</div>


<%end%>


