<% content_for(:tit) do %>
 Живой офис. Регистрация и зачисление 200 бонусов.
<% end %>

<% content_for(:cont) do %>
<a href="/qr_registration/reg">
  <img src="/images2/podarok.gif" width="480px" />
</a> <br />
<a href="/qr_registration/reg" style="color: green; font-size: 30px;">Зарегистрироваться</a>
<%  end %>



