/*
Copyright (c) 2003-2010, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/

body
{
	/* Font */
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;

	/* Text color */
	color: #222;

	/* Remove the background color to make it transparent */
	background-color: #fff;
}

html
{
	/* #3658: [IE6] Editor document has horizontal scrollbar on long lines
	To prevent this misbehavior, we show the scrollbar always */
	_overflow-y: scroll;
	/* #6341: The text cursor must be set on the editor area. */
	cursor: text;
	/* #6632: Avoid having "text" shape of cursor in IE7 scrollbars.*/
	*cursor:auto;
}

img:-moz-broken
{
	-moz-force-broken-image-icon : 1;
	width : 24px;
	height : 24px;
}
img, input, textarea
{
	cursor: default;
}


iframe , .cke_contents {height: 600px;}

iframe h1, h1 {color: #ed1c24; margin-bottom: 5px; line-height: 25px; font-size: 22px;}

iframe h2, h2 {color: #ce181e; margin-bottom: 5px;  line-height: 25px; font-size:16px; margin-top: 15px; clear: both;}