<h1>Listing lineitems</h1>

<table>
  <tr>
    <th>Order</th>
    <th>K1c</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

<% for lineitem in @lineitems %>
  <tr>
    <td><%=h lineitem.order_id %></td>
    <td><%=h lineitem.k1c %></td>
    <td><%=h lineitem.quantity %></td>
    <td><%=h lineitem.price %></td>
    <td><%= link_to 'Show', lineitem %></td>
    <td><%= link_to 'Edit', edit_lineitem_path(lineitem) %></td>
    <td><%= link_to 'Destroy', lineitem, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lineitem', new_lineitem_path %>
