<p>
  <b>Order:</b>
  <%=h @lineitem.order_id %>
</p>

<p>
  <b>K1c:</b>
  <%=h @lineitem.k1c %>
</p>

<p>
  <b>Quantity:</b>
  <%=h @lineitem.quantity %>
</p>

<p>
  <b>Price:</b>
  <%=h @lineitem.price %>
</p>


<%= link_to 'Edit', edit_lineitem_path(@lineitem) %> |
<%= link_to 'Back', lineitems_path %>
