<% content_for(:cont) do %>
<div style="color: #c49550; position: relative; top: -40px; left: 15px; width: 400px;">кейтеринг / подробнее об услуге «Мобильный фуршет»</div>

<div style="width: 171px; text-align: center; color: #813325; float: right; margin-right: 15px;"> <img src="/images/keit/cont.jpg" /> <br/> <br/>
  <p> Закуски доставляются<br/> в презентабельных боксах <br/>
готовых к выкладке <br/>
на стол</p> </div>

<div class="keit_about">
  <h1>Мобильный фуршет</h1>
<br/>
  <p>«Мобильный фуршет» — услуга по доставке специально разработанного под формат «фуршет» закусок,
подразумевающая полное самообслуживание.</p>
<br/>
  <h2>    Кому обратить особое внимание на услугу:  </h2>
<br/>
  <ul>
    <li>   Невестам и Женихам.
    </li> <li>Выпускникам школ, ВУЗов, родителям детей детского сада — мобильный фуршет пригодится как угощение на праздничный
стол выпускников и/или их преподавателей/воспитателей.
 </li> <li>Именинникам для «проставы» в офисе.
 </li> <li>Транспортным компаниям, осуществляющим «праздничную» логистику (лимузины, кареты, автобусы, пати-басы).
 </li> <li>Теплоходным компаниям.
 </li> <li>Юридическим лицам для организации корпоративных праздников в офисе в формате «капустник» (причина: не желание
готовить, желание иметь праздничный стол).
 </li> <li>И всем, всем остальным для мероприятий, где уместно использование одноразовой посуды и исключить обслуживание.
 </li>
  </ul>
<br/>
  <h2>Основные черты и преимущества «Мобильного фуршета»:</h2>
  <br/>
  <ul>  <li>Специальная упаковка — прозрачная крышка, прочное пластиковое дно, различный объем. Боксы презентабельны и удобны в
эксплуатации.
 </li> <li>Минимальный заказ составляет всего 1500 р., таким образом, Вы можете рассчитать хоть по одному канапе на персону (от 50
р. за штуку), предполагая только угощение на welcome.
 </li> <li> Ассортимент закусок составляет более 25 наименований — есть что выбрать, а если не нашли, что искали, мы исправим это
недоразумение!
 </li> <li>Весь ассортимент закусок приготовлен при расчете на «один укус». Каждый продукт имеет свою индивидуальную бумажную
корзинку (тарталетку), что способствует сохранению салона автомобиля/зала, любого другого помещения в чистоте.
 </li> <li>Презентабельный вид закусок и их вкус соответствует требованиям ресторана высокого класса.
 </li> <li>В сопроводительном наборе мы предоставляем комплект одноразовой посуды, согласно количеству заявленных персон, а
также салфетки, в том числе, влажные.
 </li> <li> Заказ за 24 часа, доставка в любой конец в черте города. В летний период заказ возможен за 3 часа до отдачи.
 </li> <li>У вас всегда есть возможность запросить дополнительные опции: одноразовую посуду и текстиль высокого качества, в том
числе заказ обслуживающего персонала, аренду посуды и др.
 </li> </ul>
<br/>
  <h2>В летний период заказы доставляются в мобильных холодильниках (обмен тары), что позволяет наш продукт хранить в должных
температурных условиях даже находясь в длительной дороге.</h2>

</div>


<% end %>