

<% content_for(:cont) do %>
<div style="margin-left: 15px; ">
<br/><br/>
<h2 style="margin-left: 15px; color: #813325;"> Ваша корзина пуста </h2>
<br/><br/>


  <br/>
<div class="hk" style="width:545px; clear: both; float: none; padding-top: 20px;"><span class="ts" style="font-size: 12px">
<%= link_to 'ПРОДОЛЖИТЬ ПОКУПКИ', {:action=>'index'} ,:class=>'hk_w' %>

   </span></div>
</div>
<% end %>
