<ul>
  <li>
    <a href="/about" target="_self">О проекте</a> </li>
<li>
 <a href="/about/letter" target="_self">Наши достижения </a> </li>
<li>
<a href="/about/pressa" target="_self">Пресса о нас</a> </li>
<li>
<a href="/info/vacancy" target="_self">Вакансии</a> </li>

</ul>