<div>
  <% if session[:city] == 'spb' 
    @actions = Action.find(1)
    elsif session[:city] == 'msk'
    @actions = Action.find(2)  
    end
    items = @actions.actionitem.sort{|a , b| a.sort <=> b.sort}
  item = items[@show - 1]  %>
  
  <%= link_to image_tag("/images2/#{item.pic}" , :style => 'width: 530px;' ), "#{item.link}" , :title => item.title  %>
</div>


<div class="act_bott_links">
  <% for n in items  do %>
  <% if n.sort == @show  %>
  <%= link_to_remote image_tag("/images2/act_butt/act_butt_a#{n.sort}.jpg") , :url=>{:controller=>'kt1' , :action=>'actions_index' , :show=>n.sort}  %>
  <% else %>
  <%= link_to_remote image_tag("/images2/act_butt/act_butt_n#{n.sort}.jpg") , :url=>{:controller=>'kt1' , :action=>'actions_index' , :show=>n.sort}  %>
  <%end%>
  <% end %>

 
 </div>