
 <div id="cab_menu">
  <%= link_to_remote "Загрузка файла с бонусами " ,{:url=>{:controller=>'upload',:action=>'bonus'},:update=>'r11'}%>
 <%= link_to "Таблица клиентов с бонусами " ,:controller=>'bonus1',:action=>'index'%>
</div>

