<ul>
  <li>
    <a href="/contacts" target="_self">Санкт-Петербург</a> </li>
<li>
 <a href="/contacts/msk" target="_self">Москва </a> </li>
<li>
<a href="/contacts/sml" target="_self">Смоленск</a> </li>


</ul>