    <div id="footer" >

    <div id="podvall">
         <%= foo1 %>
    </div>

        <div class="gadget tag-cloud">
   
          <div class="content">
            <%= tagcloud %>

          </div>
        </div>



          <div class="content" style=" text-align: center;">
            <span style="font-size:10px; color:#7c7c7c;">     Живой офис   &copy; 2008 - 2013</span>
            <br/>
              <span style="font-size:10px; color:#7c7c7c;">10 000 товаров для жизни офисных сотрудников.<br/>  Бесплатная доставка по Санкт-Петербургу, Москве и Смоленску.<br />  </span>
          </div>
 
      </div>