<ul>
    <li>
    <a href="/info/bank_info" target="_self">Реквизиты</a> </li>
 
  <li>
    <a href="/info/zakaz" target="_self">Как сделать заказ?</a> </li>
<li>
 <a href="/info/dostavka" target="_self">Условия доставки </a> </li>
<li>
<a href="/info/priem" target="_self">Как принимать товар?</a> </li>
<li>
<a href="/info/talon" target="_self">Гарантийные мастерские</a> </li>
<li>
<a href="/info/doci" target="_self">Шаблоны документов</a> </li>
<li>
  <a href="/info/shop" target="_self">Пользуйтесь<br/> &nbsp;интернет-магазином!</a> </li>
<li>
<a href="/info/metress" target="_self">Заказ для большого офиса</a> </li>

<li>
<a href="/doc/alf.pdf" target="_blanc">Алфавитный указатель каталога Живой офис 2013</a> </li>

</ul>