<ul>

  <li>  <%= link_to 'Кабинет менеджера' , :controller=>'btg1s'  %> </li>
  <li style="text-align: right;">       <%= link_to 'Выход' , {:controller=>'login' , :action=>'logout'} , :style=>'color: red' %> </li>

</ul>
