<ul>
    <li>
    <a href="/routine" target="_self">Убей Рутину!</a> </li>
  <li>
    <a href="/holiday" target="_self">Праздник каждый день</a> </li>
<li>
 <a href="/comics" target="_self">Комикс </a> </li>

<li>
<a href="/victorinas" target="_self">Викторина</a> </li>

<li>
<a href="/secrets" target="_self">Секрет живого офиса</a> </li>
<li>
<a href="/kotiki" target="_self">КОТкурс</a> </li>
</ul>