<div id="right_menu">
<!--
  <a href="http://corporate.zhivojoffice.ru/company/ipo" class="ezhed" title="IPO">   </a>

 <a href="/beautiful/room1" class="beautiful" title="Хочу красивый офис!">   </a>

  <a href="/secrets" class="secret_zo" title="Секрет Живого офиса">    </a>

	<a href="/zakaz_catalogs/new" class="zakaz_cat" title="Заказ каталога">    </a>

	<a href="/victorinas/" class="victor" title="Викторина">   </a>

	<a href="/routine/" class="routine_main" title="Убей Рутину">   </a>
		<a href="/bonus2/rule" class="bonus" title="Бонусная программа">   </a>

	<a href="/holiday/" class="holyday" title="Праздник каждый день!">   </a> 
  


	<a href="/comics/" class="comix" title="Карьера, скрепки и любовь">    </a>
-->



	<a href="/search/index?search=2014" class="diary" title="">    </a>
	<a href="/bonus2/rule" class="roman" title="">    </a>
	<a href="/act" class="bonus_reg" title="150 бонусов за регистрацию">    </a>
	<a href="/act" class="heart" title="Дарим сердце!">    </a>
</div>