<div class="superprice">
<h2>Выберите категорию </h2>
<% for first in @first do %>

<%= link_to first.name , {:controller => 'kt3' , :action =>controller.action_name , :id => first.id} , :style=>"#{(@name and (@name.id == first.id )) ? 'font-weight: bold; text-decoration: none; background-color: #AAD04B;' : ''}"  if inschool?(first.id) and first.id != 45 %>



<% end %>
</div>