<ul>

   <li>     <%= link_to 'Статистика',{:controller=>'an1' }  %> </li>
<li style="text-align: right;">       <%= link_to 'Выход' , {:controller=>'login' , :action=>'logout'} , :style=>'color: red' %> </li>
</ul>

