<% content_for(:tit) do %>
Живой офис. О проекте
<% end %>

<% content_for(:cont) do %>



<div style="float:left; width: 608px">
 <div class="green_title">О проекте</div>

<br/><br/>
<p style="color: red; font-weight: bold;">

В офисе мы проводим значительную часть своей жизни.<br/>
Поэтому он должен быть удобным, радовать глаз и сохранять наше здоровье.</p>
<br/>
<p>
В нашем каталоге вы найдете не только практичные функциональные товары как «бумага, ножницы и клей»,
но и много того, что поможет сделать Вашу офисную жизнь более приятной и комфортной.
</p>
<br/>
<p><span style="color:#F88120;">
Мы думаем о Вашем здоровье!</span> Поэтому мы позаботились о том, чтобы  в нашем каталоге были товары, которые способствуют сохранению вашего здоровья. Это и полезные продукты, и эргономичная мебель, и ионизаторы воздуха и многое-многое другое!
</p>
<br/>
<p><span style="color:#F88120;">
Хотите красивый офис?</span> Наведите курсор на банер «Хочу красивый офис». Узнавайте о самых последних дизайнерских коллекциях и выбирайте  в нашем каталоге предметы офисного обихода, которые позволят сделать рабочее место ярким и индивидуальным.
</p>
<br/>
<p>
<span style="color:#F88120;">
Мы озабочены проблемами экологии.</span>
Поэтому мы стараемся собрать максимальное количество товаров, производство или утилизация которых не наносит вреда окружающей среде. Если Вам свойственна экологическая ответственность,  выбирайте товары обозначенные  пиктограммой «эко»!
</p>
<br/>
<p><span style="color:#F88120;">
Особое внимание В «Живом офисе» тем сотрудникам, которые занимаются обеспечением офисов.</span><br>
Все без исключения  наши клиенты являются участниками бонусной программы «Служебный роман». За каждую покупку начисляются призовые бонусы, которые можно использовать сразу же или накопить на приглянувшийся вам подарок.
</p>
</div>


<% end %>