<!--<div><span style="font-family: Arial; font-size: 10px;font-weight:bold;">Товар в корзине</span></div> -->
<div style=""><%=image_tag('/images2/g_cart.jpg',:title=>'Товар в корзине' ,:alt=>'Товар в корзине')%></div>