


<div id="zakaz_<%= @cat1.id %>" >


<% form_for :cartgift  , :url=>{:controller=>'bas1',:action=> 'addcartgift' ,:id=>@cat1.id} do |f| %>

 <%= f.hidden_field :user_id ,:value=>@user.id  %>
 <%= f.hidden_field :k1c,:value=> @cat1.k1c %>



  <table>
    <tr><td>
<% if @act >= 20 %>
        <table width="30px" cellpadding="0" cellspacing="0" style="border: 1px solid #99CCCC; height: 18px;" > <tr>
            <td valign="top" style="padding-top: 2px; padding-left: 3px;">
    <%= f.text_field :quantity ,:value=> 1 ,:size=>2,:class=>'in_right',:style=>'width: 25px; border:0px solid white;',   :id=>@cat1.id.to_s+'pm' , :onkeyup=>"wolf('#{@cat1.id.to_s+'pm'}')" , :onblur=>"limit('#{@cat1.id.to_s+"pm"}',#{@nomore})" %>
            </td> <td valign="middle" style="padding-top: 1px;" >

              <div>
              <img src="/images/arr_up_down.gif" width="9" height="18" border="0" usemap="#<%=@cat1.id.to_s+'pmap'%>" />
<map name="<%=@cat1.id.to_s+'pmap'%>" id="<%=@cat1.id.to_s+'pmap'%>">
  <area shape="rect" coords="0,0,9,8"  href="javascript:void(0);" onclick="arrows_acts('<%=@cat1.id.to_s+'pm'%>','+',<%=@nomore %>)" alt="+1"/>
  <area shape="rect" coords="0,10,9,18" href="javascript:void(0);" onclick="arrows_acts('<%=@cat1.id.to_s+'pm'%>','-', 999 )" alt="-1"  /></map>
              </div>

            </td> </tr> </table>
<% else %>
<%= f.hidden_field :quantity ,:value=> 1 %>
<% end %>
      </td><td>


 <%= f.submit "" ,:style=>'width:35px; height: 26px; border: none; background: url(/images2/o_cart.jpg) top left no-repeat; cursor: pointer; ' , :id=>'zak'+@cat1.id.to_s  %>


      </td></tr></table>
    <% end %>

</div>

