
<% content_for(:tit) do %>
 Живой офис. Летняя распродажа!
<%end%>

<% content_for(:sort) do %>

    <!-- сортировка -->

<%= render :partial=>'/part2/sale_menu' , :first => @first %>
     <!--  сортировка конец  -->
<% end %>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->


<% content_for(:cont) do %>



   <script type="text/javascript" src="/javascripts/function.js"></script>

   <div class="red_title" style="margin-bottom: 10px; background-color: #7fcec8;">Летняя распродажа!
   <%=@name.name if @name%>
   <% if params[:search] and params[:search] != '' and params[:search].strip != ''%>
   <br/>Вы искали: <%= params[:search]%>. Найдено: <%= @search.size%> наименований.
   <% end %>
   </div>


     <div id="tovar">


 <span  style="font-family: Arial; font-size: 11px;position:relative;top:-3px;color:#808285; font-weight: bold;">
<%= link_to  'Показывать витриной',{:controller=>'kt3',:action=>'sale_v', :id=> params[:id]} , :style=>'color:#808285; font-weight: bold;'%></span>


<%= will_paginate @tg  %>

 <table width="100%" border="0" style="background-color:#a770af; color:white; text-align: center; font-size: 11px; line-height: 25px;">
  <tr>
    <td style="width:65px;">Вид </td>
     <td style="width:70px;"> Код каталога </td>
     <td> Наименование товара </td>
       <td style="width:80px;"> Цена </td>
        <td style="width:80px;"> Корзина</td>
  </tr>
</table>

       <% for tg in @tg do %>

 <% @cat=Cat1.find(tg.id)  %>


 <div class="grn11" id="<%=@cat.id%>" >
<%= render(:partial => 'kt1/cat22',:object =>@cat,:object=>@tov3) %>


 </div>







    <% end %>

<%= will_paginate @tg %>
     </div>


<%  end %>




