

<% 
    @tov2=Tov2.find(params[:id])
%>
<% content_for(:tit) do %>
 <%=@tov2.name%>
<%end%>

<% content_for(:sort) do %>
    <!-- сортировка -->
<%= render :partial=>'/part2/sort_v2' %>
     <!--  сортировка конец  -->
<% end %>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->


<% content_for(:cont) do %>

<%#= image_tag ('/images2/spec_cat.gif') , :alt=>'Специальные цены на бумагу' , :style=>'margin-bottom: 10px;'  if session[:city] != 'smo' %>


<%= hk2(params[:id]) %>

   <script type="text/javascript" src="/javascripts/function.js"></script>


    <span style="color: rgb(249, 124, 19); font-size: 12pt;"> <%#= @tov3.name %>   </span>



     <div id="tovar">

      <span id="sel2" style="font-family: Arial; font-size: 11px;position:relative;top:-3px;display:inline; color:#808285; font-weight: bold;">Показывать по:
 <select id="br11" style="font-family: Arial; font-size: 11px;"onchange=perp($F('br11')); >
   <%= options_for_select([10,15,20], @per_page.to_i) %>
 </select></span>&nbsp;&nbsp;

 <span  style="font-family: Arial; font-size: 11px;position:relative;top:-3px;color:#808285; font-weight: bold;">
<%= link_to  'Показывать витриной',{:controller=>'kt3',:action=>'tg_v2',:id=>@tov2.id} , :style=>'color:#808285; font-weight: bold;' %></span>


<%= will_paginate @tg  %>

 <table width="100%" border="0" style="background-color:#a770af; color:white; text-align: center; font-size: 11px; line-height: 25px;">
  <tr>
    <td style="width:65px;">Вид </td>
     <td style="width:70px;"> Код каталога </td>
     <td> Наименование товара </td>
       <td style="width:80px;"> Цена </td>
        <td style="width:80px;"> Корзина</td>
  </tr>
</table>

       <% for tg in @tg do %>
 <% @cat = tg %>
 <div class="grn11" id="<%=tg.id%>" >
<%= render(:partial => 'kt1/cat22',:cat =>tg,:object=>@tov3) %>

 </div>



    <% end %>

<%= will_paginate @tg %>
     </div>


<%  end %>




