
<div id="comment_box">



      <a class="right_link2" href="#"> Отзывы о товарах </a>


  <img style="width: 30px; float: left; " src="/images3/bum.jpg" />
  <div style=" margin-left: 40px; clear: right; margin-bottom: 20px;">
    <a href="#" class="t_name"> Ложка столовая одноразовая пластиковая, серебряная, длина 17.4 см, 6 шт./уп</a>
              Ложка столовая одноразовая пластиковая, серебряная, длина 17.4 см, 6 шт./уп
  <a class="next" href="/desk_subjs/">   читать дальше...  </a>
  </div>

  <img style="width: 30px; float: left; " src="/images3/bum.jpg" />
  <div style=" margin-left: 40px; clear: right; margin-bottom: 20px;">
    <a href="#" class="t_name"> Ложка столовая одноразовая пластиковая, серебряная, длина 17.4 см, 6 шт./уп</a>
              Ложка столовая одноразовая пластиковая, серебряная, длина 17.4 см, 6 шт./уп
  <a class="next" href="/desk_subjs/">   читать дальше...  </a>
  </div>




       


</div>