
<% @names=['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %>


<div id="news_box">

  <a class="right_link" href="#"> Отзывы о компании </a>


          Сегодня,
<%@day = Time.now.day %><% @day= '0'+@day.to_s if @day.to_i < 10 %>
<%  @month =  Time.now.month %> 
<%= @day -%>&nbsp<%= @names[@month.to_i] -%>,
           можно отметить:
           <% @holiday = Holiday.find :first, :conditions =>['month=? and day=?',Time.now.month , Time.now.day] %>
         
          <%=truncate(@holiday.title, 47)%>
          
         
         
              <a class="next" href="/holiday/"> еще больше праздников...    </a>


        
         
           <%= Indexnew.find(1).new %>
          <a class="next" href="/desk_subjs/">   читать дальше...  </a>
        

        </div>