                  <div id="search_div" >
                   
                  
                  
                   <form name="search_form" method="get" action="/search/index" id="search_form">
                    <input type=”text” id="search_field" name="search" value="<%=session[:search] %>" />
                       <button id="search_sub" type="submit" > </button>
                    </form>
                   
                        
                 


                  </div>