<!--<div><span style="font-family: Arial; font-size: 10px;font-weight:bold;">Товар в корзине</span></div> -->
<div style="position:relative; top:-12px;"><%=image_tag('/images/cart_p.gif',:title=>'Товар в корзине' ,:alt=>'Товар в корзине')%></div>