<% content_for(:tit) do%>
<title>Доставка товаров в офис. Канцтовары, бумага, папки, архивы, хозяйственные товары для офиса, расходные материалы для оргтехники, офисная мебель. Мы предлагаем сотрудничество на основе модели франчайзинга.  </title>
<%  end %>


<% content_for(:cont) do %>

<div style="width: 608px;">
  <div>
    <img src="/images/fr.jpg" /> <br />
    
    <p style="text-align: right;"> <a href="/doc/franchise.pdf"> <img src="/images/fr_down.jpg" border="0" /> </a> </p>
  </div>


     <h1 style="font-size: large; color: red;">
    Мы предлагаем сотрудничество на основе<br/> модели франчайзинга </h1>
     <br/><br/>
  <p style="font-size: small; color: black">
Предоставляем технологии ведения бизнеса, IT обеспечение,<br/> в том числе интернет-магазин, маркетинговую поддержку и товарный кредит.<br/><br/>
Приглашаем партнеров из России, Украины, Белоруссии и Казахстана<br/> для совместного строительства сети «Живой офис».

  </p>

</div>

  <% end %>


<% content_for(:bs) do %>
  <%=bs %>
  <%  end %>

  <% content_for(:sp) do %>

       <%=sp%>
  <%  end %>
