BODY {
	BACKGROUND-COLOR: #ffffff; COLOR: #000000
}
A:link {
	COLOR: #bc0000; TEXT-DECORATION: none
}
A:active {
	COLOR: #bc0000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #bc0000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #767892
}
A.n:link {
	COLOR: #ebebeb; TEXT-DECORATION: none
}
A.n:active {
	COLOR: #ebebeb; TEXT-DECORATION: none
}
A.n:visited {
	COLOR: #ebebeb; TEXT-DECORATION: none
}
A.n:hover {
	COLOR: #000000
}
P {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt
}
.p {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt
}
.p1r {
	TEXT-ALIGN: right; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt
}
.p1 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt
}
.p1w {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 8pt
}
.p1l {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
.p2 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 7pt
}
.p2m {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; FONT-STYLE: normal; PADDING-LEFT: 17px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 7pt; PADDING-TOP: 0px
}
.p3 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 6pt
}
.p2r {
	TEXT-ALIGN: right; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 7pt
}
.pc {
	TEXT-ALIGN: center; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt
}
.pbc {
	TEXT-ALIGN: center; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: 600
}
.p1bc {
	TEXT-ALIGN: center; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: 600
}
.p1c {
	TEXT-ALIGN: center; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt
}
.p2 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt
}
.p1b {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: 600
}
.pb {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: 600
}
.n {
	FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ebebeb; FONT-SIZE: 9pt; FONT-WEIGHT: 500
}
.b {
	FONT-STYLE: normal; FONT-WEIGHT: 600
}
.h31 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #656565; FONT-SIZE: 13pt; FONT-WEIGHT: 600
}
.h41 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #656565; FONT-SIZE: 11pt; FONT-WEIGHT: 600
}
.h4 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #303030; FONT-SIZE: 13pt; FONT-WEIGHT: 500
}
H4 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #303030; FONT-SIZE: 13pt; FONT-WEIGHT: 500
}
.h3 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 15pt; FONT-WEIGHT: 500
}
H3 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #303030; FONT-SIZE: 11pt; FONT-WEIGHT: 600
}
.h5 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #303030; FONT-SIZE: 10pt; FONT-WEIGHT: 600
}
.form {
	BACKGROUND-COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial, Times New Roman, Geneva, serif; COLOR: #000000; FONT-SIZE: 8pt
}
.form1 {
	BACKGROUND-COLOR: #f0f0f0; FONT-STYLE: normal; FONT-FAMILY: Arial, Times New Roman, Geneva, serif; COLOR: #000000; FONT-SIZE: 7pt
}
.style2 {
	FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.style8 {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt
}
.index {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif, Geneva; COLOR: #000000; FONT-SIZE: 8pt; PADDING-TOP: 3px
}
TABLE.tab {
	WIDTH: 100%
}
TD.tab {
	WIDTH: 100%
}
