
<div id="report" style="color: green; font-size: 24px;">
  !!!!!!!
  
</div>


<%= periodically_call_remote(:url => {:action => 'showrep'}, :frequency => '120', :update => 'report') %>

 <iframe src="/a_tests/loadreports" width="100%" height="600px" align="left">

 </iframe>

<br/>
<br/>
<br/>


