<h1>New indexnew</h1>

<% form_for(@indexnew) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :new %><br />
    <%= f.text_area :new %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', indexnews_path %>
