<% content_for(:cont) do %>

<style type="text/css">
<!--


.viktorina_start {
	background-image: url(/images/viktor5.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height: 240px;
	width: 554px;

}
#start  a{
	color: #EF568E;
	text-decoration: none;
}
#start {

	width:100px;
	height: 70px;
	text-align: center;
	font-size: 26px;
	font-weight: bolder;
	color: #EF568E;
	line-height: 17px;
}


.info {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #428f89;
	margin-top: 30px;
	margin-left: 10px;
}
-->
</style>

<div style=" width: 800px; height: 600px">


<div class="viktorina_start">
 <!--
  <script type="text/javascript">
AC_FL_RunContent( 'codebase','http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0','width','554','height','240','title','Вы выиграли','src','/images/viktorina','quality','high','pluginspage','http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash','movie','/images/viktorina' ); //end AC code
</script><noscript><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="554" height="240" title="Вы выиграли">
    <param name="movie" value="/images/viktorina.swf" />
    <param name="quality" value="high" />
    <embed src="/images/viktorina.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="554" height="240"></embed>
  </object></noscript>
 -->
</div>
<div class="info">
Вам по силам самые сложные интеллектуальные задачи! <br /><br />
Для того чтобы получить заслуженный приз, позвоните по телефону 324-80-50 в течение срока проведения викторины.<br /><br />
Участвуйте и выигрывайте!</div>


  </div>
<% end %>