<% content_for(:cont) do %>
<div class="green_title" style="width: 650px;">
На Ваш e-mail отправлено письмо с дальнейшей инструкцией.
</div>
<p>
  Поверьте папку «Спам», письмо может попасть туда.
</p>

<%end%>