<h1>Редактирование Правого меню</h1>

<table>
  <tr>
    <th>Заголовок</th>

  </tr>

<% @rmenu1s.each do |rmenu1| %>
  <tr>
    <td><%=h rmenu1.title %></td>
   
    
    <td><%= link_to 'Редактировать', edit_rmenu1_path(rmenu1) %></td>
    <td><%= link_to 'Удалить', rmenu1, :confirm => 'Точно?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить меню', new_rmenu1_path %>