#slider_sub {
    border:none; color: white; background-color: #F47920;
             text-align: center; margin-left: 15px; line-height: 25px;
             cursor: pointer; font-weight: bold; height: 25px; width: 95px;
             margin-top: 15px;
}
.main {}

form.slide {
	width:130px;
	position: relative;
	margin: 20px;

}

.formCost {
	float: left;
	margin-bottom: 10px;
}
.formCost label {
	float: left;
	font-size: 12px;
	color: #808285;;
	font-weight: bold;
	margin-right: 5px;
	position: relative;
	top: 2px;
        margin-bottom: 5px;
}
.formCost input {
	float: right;
	text-align: right;
	color: #808285;
	font-size: 12px;
	font-weight: bold;
	width: 55px;
	height: 17px;
	background: none;
	border: 1px solid #E5E5E5;
	margin-right: 10px;
        margin-bottom: 5px;
}

.sliderCont {
	width: 178px;
	height: 12px;
	float: left;
}		

/* А это правила для скрипта:  */
#slider {
	width: 120px;
}

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 14px;
	height: 14px;
	background: url(/images/circle_green.jpg) no-repeat;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	 height: 3px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top: -6px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content { 
	border: 1px solid #D4D4D4;
	background: #fff;
}
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #AAD04B;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

