<% content_for (:cont) do %>
<div style="clear: both;  min-height: 500px;">
<div style="margin-left: 10px;">

  <h3 style="color: #b25ca5;">ДОСТАВКА</h3>
  <br/>
  <p class="brown">
    <span class="magenta"> Доставка осуществляется бесплатно при заказе от суммы 5 000 рублей
 </span> <br/><br/>

 Возможность доставки в Ленинградскую область уточните у менеджера

<br/><br/>

Срок — от 1 дня по предварительному согласованию

<br/><br/>
<span class="magenta"> Рекомендуем заказывать торт за 3-5 дней до праздника
 </span>
  </p>
</div>
</div>

<% end %>