<% content_for (:cont) do %>

<div style="clear: both;  min-height: 500px;">
<div style="margin-left: 10px;">

  <h3 style="color: #b25ca5;">ЦЕНЫ</h3>
  <br/>
  <p class="brown">
    <span class="magenta"> Цена на каждый торт рассчитывается исходя из стоимости
 </span>
за 1 килограмм

<br/><br/>

Разница в цене обусловлена сложностью украшения


<br/><br/>
Чтобы узнать сколько стоит понравившийся торт нажмите «заказать», в открывшемся окне выберите наполнитель<br/> и вес торта... программа посчитает стоимость.
<br/><br/>
Если цена устроила, нажмите кнопку — отправить заказ
<br/><br/>
 С Вами свяжется менеджер кондитерской.
 <br/><br/>
<span style="color:#999999; font-size: 9px;">
  Бонусная программа при заказе тортов не действует. Акция "Закажина сайте на сумму от 5000 и получи дизайнерскую кружку на заказ торотов не распространияется"

 </span>
  </p>
</div>
</div>
<% end %>