<% content_for (:cont) do %>
<div style="clear: both;  min-height: 800px;">
<div style="margin-left: 10px;">

  <h3 style="color: #b25ca5;"> РЕЦЕПТЫ</h3>
  <br/>
  <p class="brown">
    <span class="magenta"> Все торты, которые можно заказать на нашем сайте состоят из бисквита,
наполнителя и украшены марципаном. Мы используем только натуральные продукты высокого качества.
 </span> <br/><br/>

<span class="magenta"> Бисквит.</span> Приготавливатся по классическому рецепту из яиц, сахара и муки. Иногда мука полностью или частично заменяется на молотые орехи, какао, шоколад.
Для аромата в некоторые виды теста добавляется мед, апельсиновая или лимонная цедра.

<br/><br/>

<span class="magenta"> Наполнитель.</span> Прослойка между бисквитными коржами, которая придает торту яркий вкус и нежную констистенцию. Основой наполнителя служит заварной крем или мусс с использованием фруктов, орехов или стручковой ванили.

<br/><br/>

<span class="magenta"> Марципан.</span> Используется для создания неповторимого креативного украшения. Изготовлен из молотого миндаля и сахара. <br/>
Для колеровки используются натуральные пищевые красители.

  </p>
</div>

<div style="float: left; width: 440px; height: 144px; margin-right: 10px; margin-top: 30px;">
  <div style="float: left; margin-right: 10px;">
    <img src="/images/cake/rec1.jpg"/>
  </div>
  <div style="color:#b25ca5; ">
    <br/><br/>
    Свежая груша,<br/> карамельный соус,<br/> сливки молочные<br/> ванильный заварной крем

  </div>
</div>

<div style="float: left; width: 440px; height: 144px; margin-right: 10px; margin-top: 30px;">
  <div style="float: left; margin-right: 10px;">
    <img src="/images/cake/rec2.jpg"/>
  </div>
  <div style="color:#b25ca5; ">
    <br/><br/>
     Молотые фисташки, <br/>сливки молочные,<br/> бельгийский шоколад 53% какао

  </div>
</div>


<div style="float: left; width: 440px; height: 144px; margin-right: 10px; margin-top: 30px;">
  <div style="float: left; margin-right: 10px;">
    <img src="/images/cake/rec3.jpg"/>
  </div>
  <div style="color:#b25ca5; ">
    <br/><br/>
    Творог,<br/> сливки молочные,<br/> персиковое пюре, <br/>апельсиновая цедра



  </div>
</div>



<div style="float: left; width: 440px; height: 144px; margin-right: 10px; margin-top: 30px;">
  <div style="float: left; margin-right: 10px;">
    <img src="/images/cake/rec4.jpg"/>
  </div>
  <div style="color:#b25ca5; ">
    <br/><br/>
     Маракуйя,<br/> сливки молочные,<br/> ванильный мусс

  </div>
</div>


<div style="float: left; width: 440px; height: 144px; margin-right: 10px; margin-top: 30px;">
  <div style="float: left; margin-right: 10px;">
    <img src="/images/cake/rec5.jpg"/>
  </div>
  <div style="color:#b25ca5; ">
    <br/><br/>
    Свежий банан,<br/> сливки молочные,<br/> бельгийский шоколад 53% какао



  </div>
</div>

</div>


<% end %>