<% content_for (:cont) do %>
<div style="clear: both;  min-height: 500px;">
<div style=" float:left; padding-left: 10px; margin-right: 10px;">
  <img src="/images/cake/shef.jpg" />
</div>

<div>
  
  <h3 style="color: #b25ca5;"> ШЕФ-КОНДИТЕР</h3>
  <br/>
  <p class="brown">
    <span class="magenta"> Торты, которые можно заказать на сайте «Живой офис», </span> <br/>
готовятся на кухне ресторана «Летний дворец» под руководством шеф-кондитера Марии Попович. <br/>

Мария приехала в С-Петербург из родной Сербии 5 лет назад и стала одним из самых восстребованных кондитеров нашего города.<br/>
<br/>

<span style="color: #b25ca5;"> Мария:</span> «У нас дома готовить десерты умеют все хозяйки без исключения. Когда в сербском доме праздник, то на стол подается не менее 15 сладких блюд. Мой папа был пекарь, муж — пекарь
и я занимаюсь этим ремеслом с самого детства...»
<br/><br/>
<span class="magenta">
Профессиональное кредо Марии: натуральные продукты, точное соблюдение технологии и, конечно, желание доставить людям радость!
</span>

  </p>
</div>
</div>

<% end %>
