<% content_for(:tit) do %>
Хочу красивый офис
  <%end%>

<% content_for(:cont) do %>
<div class="beauty">
  <div class="beauty_title">
   </div>
  <a href="/beautiful/room1"  > <div class="bsmc1"> </div> </a>
  <a href="/beautiful/room2"  > <div class="bsmc2" > </div>  </a>
  <a href="/beautiful/room3" > <div class="bsmc3" > </div>  </a>
  <a href="/beautiful/room4" > <div class="bsmc4" > </div>  </a>


</div>

<%end%>
