<h1>Редактирование страниц сайта</h1>
<p>

<%= link_to 'Редактировать главную страницу',  :controller => 'pages' , :action => 'edit' , :id =>1 %></p>


<p>
  <% main1=Main1.find(2) %>
<%= link_to 'Редактировать Цены',  :controller => 'pages' , :action => 'edit' , :id =>2  %></p>

<p>
  <% main1=Main1.find(3) %>
<%= link_to 'Редактировать Контакты',  :controller => 'pages' , :action => 'edit' , :id =>3%></p>

<p>
  <% main1=Main1.find(4) %>
<%= link_to 'Редактировать Информацию',  :controller => 'pages' , :action => 'edit' , :id =>4 %></p>
