<% content_for(:tit) do%>
Живой офис. Контакты
<%  end %>

<% content_for(:cont) do %>

<div style="width:750px;">

<h2 style ="color:red;">«Живой офис» в Москве</h2>

<br>
<br>

<div style="border-bottom:2px dashed #E7E7E7">

        <table cellspacing="0" cellpadding="8" style="color:#A0A0A0">
<tbody>

<tr>
  <td> <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
<div id="ymaps-map-id_13597157854214393902" style="width: 450px; height: 350px;"></div>
<div style="width: 450px; text-align: right;"><a href="http://api.yandex.ru/maps/tools/constructor/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;">Создано с помощью инструментов Яндекс.Карт</a></div>
<script type="text/javascript">function fid_13597157854214393902(ymaps) {var map = new ymaps.Map("ymaps-map-id_13597157854214393902", {center: [37.61650350000001, 55.77235490485457], zoom: 16, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([37.61704172983303, 55.77174408736471], {balloonContent: "Офис компании Живой офис"}, {preset: "twirl#greenDotIcon"}));};</script>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_13597157854214393902"></script>
<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
  </td>
  <td valign ="top" style="padding-left:15px;">
  <span style="color:grey; font-weight:bold;">Офис</span> <br><br>
127051,  Москва, Большой Каретный переулок, дом 20, строение 3, третий этаж<br/>
Телефон: +7 (495) 730-30-77<br/>
Время работы: с 9:00 до 18:00,<br/>
Выходные — суббота, воскресенье
    <br/><br/>
   <!-- <span style="color:gray; font-weight:bold;">СКЛАД КОМПАНИИ «Живой офис», Москва</span> <br>
143912 Московская область, г. Балашиха, Западная коммунальная зона, шоссе Энтузиастов, владение 1А  <br> время работы: с 9-00 до 18-00, <br/>выходные - суббота, воскресенье--></td>
</tr>

</tbody>
</table>



<br><br>
</div>


<br>
<br>
<div style="border-bottom:2px dashed #E7E7E7">

<table cellspacing="0" cellpadding="8" style="color:#A0A0A0">
<tbody>

<tr>
  <td> <!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (начало) -->
<div id="ymaps-map-id_1336997954255248312171" style="width: 450px; height: 350px;"></div>
<div style="width: 450px; text-align: right;"><a href="http://api.yandex.ru/maps/tools/constructor/?lang=ru-RU" target="_blank" style="color: #1A3DC1; font: 13px Arial,Helvetica,sans-serif;">Создано с помощью инструментов Яндекс.Карт</a></div>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU&onload=fid_1336997954255248312171"></script>
<script type="text/javascript">function fid_1336997954255248312171(ymaps) {var map = new ymaps.Map("ymaps-map-id_1336997954255248312171", {center: [37.866664695495, 55.78419007287923], zoom: 15, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([37.86688570925589, 55.78399700959788], {balloonContent: "Живой офис. Склад."}, {preset: "twirl#greenDotIcon"}));};</script>
<!-- Этот блок кода нужно вставить в ту часть страницы, где вы хотите разместить карту (конец) -->
  </td>
  <td valign ="top" style="padding-left:15px;">
  <span style="color:grey; font-weight:bold;">Склад</span> <br><br>
143912, Московская область, г. Балашиха, Западная коммунальная зона, шоссе Энтузиастов, владение 1А <br/>
Телефон: +7 (495) 730-30-77<br/>
Факс: +7(499) 903-69-56<br/>
Время работы: с 9:00 до 18:00<br/>
Выходные — суббота, воскресенье
    <br/><br/>
   <!-- <span style="color:gray; font-weight:bold;">СКЛАД КОМПАНИИ «Живой офис», Москва</span> <br>
143912 Московская область, г. Балашиха, Западная коммунальная зона, шоссе Энтузиастов, владение 1А  <br> время работы: с 9-00 до 18-00, <br/>выходные - суббота, воскресенье--></td>
</tr>

</tbody>
</table>



<br><br>
</div>
<br><br>











</div>




<%end%>

