<div id="content">

<h1>Котовасия в «Живом офисе»</h1>

<p>
<span>Рыжий Кот</span> — символ «Живого офиса». Он вещает премудрости со страниц ежегодного каталога, украшает наши сувениры и периодически заглядывает в гости. Себя показать, ну и нас жизни поучить. Мы знаем, как дети любят котов. Ведь они лазают по деревьям, гуляют сами по себе и не боятся высоты. «Живой офис» объявляет коткурс детского самовыражения «Котики»!</p>
<p>

Мы никак не ограничиваем фантазию детей в выборе материала, манеры исполнения, размера произведения. Главное, чтобы героем был Рыжий Кот, который живет в «Живом офисе»!
</p>

<div class="description">
Фотографию ребенка с произведением выкладывайте в нашей <%= link_to "группе ВКонтакте", "http://vk.com/album-15320455_179054613", :target => "_blank" %>. Не забудьте указать имя, фамилию и возраст автора.
</div>
<%#= link_to image_tag("cats/arrow_left.png"), "#", :class => "left_arrow", :action => 'preview_widget', :remote => true %>
<%#= link_to image_tag("cats/arrow_right.png"), "#", :class => "right_arrow", :action => 'preview_widget', :remote => true %>
<%= render "kotiki" %>

	<div style="clear: both; float: none;"></div>
<%= link_to "Смотреть все фото участников", "http://vk.com/album-15320455_179054613", :class => "show_all", :target => "_blank" %>
	<div style="clear: both; float: none;"></div>
<p>
КОТкурс проходит со <span>2 сентября по 11 октября</span> 2013 года включительно. Объявление победителей — <span>14 октября</span>.
Возраст участников — от 4 до 12 лет.
</p>

<div class="prises"><%= image_tag "cats/cat_gifts.png" %></div>
</div>
