<% content_for(:tit) do %>
Новости Живого офиса
<% end  %>
<% content_for(:cont) do %>
<style type="text/css">
table {  border-bottom: 1px dashed #b1b3b6; padding-bottom: 10px; margin-top: 10px; }
.press a { font-size: 11px; margin-top: 10px; color: #808285;}
.press p { margin-bottom: 10px; margin-top: 10px;}
.press .img { float: left; display: inline; margin-right: 10px; }
.press h3  {width: 500px; display: inline; }
</style>

<h2 style="color: red;">Пресса</h2>




    <div style="margin-top: 15px; ">
      <%= button_to "Добавить новость", new_news_item_path %>
    </div>
    <% @news_items.each do |news_item| %>
      <table class="press">
        <tr>
          <td>
            <%= image_tag("news_items/#{news_item.image}", :width => "160px") %>
          </td>
          <td style="padding: 0px 10px; vertical-align: top; width: 100%;">
            <h3 style="margin-bottom: 10px;"><%= news_item.title %></h3>
            <%= news_item.body %>
          </td>
        </tr>
      </table>
      <div style="margin-bottom: 10px; padding: 5px; background-color:  #ededed;">
        <%= button_to 'Изменить', edit_news_item_path(news_item) , :style=>'float: left; margin-right: 20px;' , :method=>'get' %>
        <%= button_to 'Удалить', news_item, :confirm => 'Вы уверены, что хотите удалить эту акцию?', :method => :delete  , :style=>'float: right;'%>
        <% unless news_item.visible %>
          <%= button_to "Сделать видимой", news_item_url(news_item, :news_item => { :visible => 1 }), :method => :put %>
        <% else %>
          <%= button_to "Сделать невидимой", news_item_url(news_item, :news_item => { :visible => 0 }), :method => :put %>
        <% end %>
      </div>
    <% end %>
<% end %>

