<head>
<%= javascript_include_tag :defaults  %>
</head>
<div id="boltov444">
<% @content.each do |cont| -%>
  <% if cont.name=='Елена' %>
      <span style="color:red;">
  <%else%>
        <span style="color:green;">
  <%end%>
[<%=cont.name%>]:
<%=h cont.content %> <br>
</span>
<%end-%>
  </div>
<%= periodically_call_remote :frequency =>12,
:url=>{:controller=>'mess3',:action=>'index',:id_m=>params[:id_m]},:update=>'boltov444'
%>


