
<div style="padding-top: 265px; background: url('/images2/bonus_back.gif') no-repeat 0px 0px; min-height: 611px;">

                <div class="content">

                <div class="bonus_nav">
                  <div class="bonus_menu"><a href="/bonus2" >каталог бонусов</a>
                 <% unless login?  %>
                 <%else%>
                 <a href="/bonus2/editcart" class="act">корзина с подарками </a>
                 <%end%>
                 <a href="/bonus2/rule"   >как получить бонусы</a>
           
                
                  </div>

               </div>




               </div>

<table class="b_cart" cellpadding="0" cellspacing="0"  >
<tr>
  <th align="center">  подарок</th>
<th>название</th>
<th> цена</th>
<th>  удалить</th>

</tr>

<% @cart.each do |cart| %>
  
     <% @bon=Cat1.find :first , :conditions=>['k1c=?',cart.k1c] %>
 
   <tr>
     <td height="150px;" width="250px;" align="center">

       
      <% if @bon and @bon.pic1!='' %>
      <!--  <img src="/images/bonus/<%#=bonus2.pic1%>.jpg" alt=""  style="height:130px;"/> -->

    <%= (image_tag("/images/bonus/thumbs/"+@bon.pic1,:height=>'125')) %>
    <%else%>
    <%= (image_tag("/images/no_image_s.gif")) %>
  <% end %>


       <%#= link_to(image_tag("/images/bonus/"+@bon.+".jpg",:height=>'125'),{:action=>'bonus_tov',:id=>@bon.id}) %>

     </td>
     <td width="150px;"align="left">
       <span style="color:#41AD49;">  
       
   <%= if @bon.name then @bon.name else @bon.fullname end %> </span>
     </td>
     <td width="100px;" align="left">
     <span style="color:#F1222A; font-size: 16px;">   <%=@bon.price if @bon%> </span>
     </td>
     <td>
       <%=link_to "X", {:controller=>'bonus2',:action=>'del_bon',:id=>cart.id}, {:style=>'color: #F1222A; text-decoration: none;'} %>
     </td>
   </tr>
 


  <%end%>

   <tr style="height: 40px; vertical-align: middle;">
     <td style="border: none;"> </td>
     <td style="border: none;"> <span style="color:#F1222A; font-size: 12px;"> всего бонусов: </span> </td>
     <td style="border: none;"><span style="color:#F1222A; font-size: 16px;"> <%=@summ %> </span> </td
     <td style="border: none;"> </td>
   </tr>

      <tr style="height: 40px; vertical-align: middle;">
     <td colspan="2" align="left" style="text-align: left;"><%= link_to 'очистить корзину',{:controller=>'bonus2',:action=>'delcart'}, {:style=>'text-decoration: none; color: #808385;'} %> </td>
    
     <td colspan="2">  <%= link_to 'Отправить заказ',{:action=>'send_bonus',:id=>@user.id} , {:class=>'b_send'} %></td>
   </tr>
  </table>
  
   
</div>

