  <div style="position:absolute; left:0; top: 200px; z-index:999;">
  <a href="/kt1/callme"><img src="/images/open12.jpg" style="border:none" /></a></div>
  <div style="position:absolute; left:0; top: 330px; z-index:998;">
  <a href="/needs"><img src="/images/need.jpg" style="border:none" /></a></div>
