<style type="text/css">
.sert_carrier {
	width: 720px;
	padding-bottom: 20px;
}
.sert_box {
	width: 156px;
	float: left;
	margin-top: 5px;
	margin-right: 12px;
	margin-bottom: 20px;
	margin-left: 12px;
	height: 188px;
}
.sert_img {
	height: 156px;
	width: 156px;
	text-align: center;
	vertical-align: middle;
	padding-top: 6px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	border: 1px dashed #b1b3b6;
}
.sert_box .firm_name {
}
.sert_carrier .sert_box .sert_img img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.butt_act {
  color:#f15a26; font-size: 14px;
  border-top: dashed 1px #b1b3b6;
  border-right: dashed 1px #b1b3b6;
  border-left: dashed 1px #b1b3b6;
}
</style>


<script language="javascript">

function open_win(fn,w,h)
{

window.open(fn, "blank1","height="+h+",width="+w+",top=0, left=260, status=0,toolbar=0,menubar=0,location=0, directories=0, resizable=0");
}
</script>

<div id="letter">
  <h1> Наши достижения </h1>
  <h4>"Спенс" - ведущая компания группы "Живой офис". На рынке офисного обеспечения с 1996 г.</h4>

<br>
<span style="padding-right: 20px;" class="butt_act">&nbsp;&nbsp; СЕРТИФИКАТЫ </span>
<span style="border-bottom: 1px dashed rgb(177, 179, 182);">&nbsp;&nbsp;
  <a style="color: rgb(241, 90, 38); font-size: 14px; text-decoration: none;" href="/main/letter">
    БЛАГОДАРСТВЕННЫЕ ПИСЬМА</a> &nbsp;&nbsp;
</span>

<br><br>
<div class="sert_carrier">

<div class="sert_box">
<div class="sert_img"><a href="javascript:open_win('/images/progr/hp_big.jpg',600,842)"><img src="/images/progr/hp_sm.jpg"></a></div>
<span class="firm_name"> HEWLETT-PACKARD </span>
</div>

<div class="sert_box">
<div class="sert_img"><a href="javascript:open_win('/images/progr/s_apli.jpg',600,842)"><img src="/images/progr/s1_apli.jpg"></a></div>
<span class="firm_name"> APLI PAPER S. A. </span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_deep2000.jpg',600,842)"><img src="/images/progr/s1_deep2000.jpg"></a></div>
<span class="firm_name"> ООО "ДИИП 2000"</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_esselte.jpg',600,842)"><img src="/images/progr/s1_esselte.jpg"></a></div>
<span class="firm_name"> ООО "Ессельте"</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_expert.jpg',600,842)"><img src="/images/progr/s1_expert.jpg"></a></div>
<span class="firm_name"> ООО "ГКЦ Балтик"</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_fellowes05.jpg',600,842)"><img src="/images/progr/s1_fellowes05.jpg"></a></div>
<span class="firm_name"> Fellowes GmbH 2005</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_fellowes06.jpg',600,842)"><img src="/images/progr/s1_fellowes06.jpg"></a></div>
<span class="firm_name">Fellowes GmbH 2006</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_fellowes.jpg',600,842)"><img src="/images/progr/s1_fellowes.jpg"></a></div>
<span class="firm_name">Fellowes GmbH</span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_nazareno.jpg',600,842)"><img src="/images/progr/s1_nazareno.jpg"></a></div>
<span class="firm_name"> ЗАО "еБазар"</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_regent.jpg',600,842)"><img src="/images/progr/s1_regent.jpg"></a></div>
<span class="firm_name"> ООО "Регент -Нева"</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_sunford.jpg',600,842)"><img src="/images/progr/s1_sunford.jpg"></a></div>
<span class="firm_name"> SUNFORD</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_vileda.jpg',600,842)"><img src="/images/progr/s1_vileda.jpg"></a></div>
<span class="firm_name"> Vileda Professional</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox05.jpg',842,600)"><img src="/images/progr/s1_xerox05.jpg"></a></div>
<span class="firm_name">XEROX LTD. 2005</span>
</div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox07.jpg',842,600)"><img src="/images/progr/s1_xerox07.jpg"></a></div>
<span class="firm_name">XEROX LTD. 2007 </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox09.jpg',842,600)"><img src="/images/progr/s1_xerox09.jpg"></a></div>
<span class="firm_name">XEROX LTD. 2009 </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox10.jpg',842,600)"><img src="/images/progr/s1_xerox10.jpg"></a></div>
<span class="firm_name">XEROX LTD. 2011 </span></div>

<div class="sert_box">
<div class="sert_img">  <a href="javascript:open_win('/images/progr/s_xerox11.jpg',842,600)"><img src="/images/progr/s1_xerox11.jpg"></a></div>
<span class="firm_name">XEROX LTD. 2011 </span></div>

</div>


</div>

