<h1 style="font-size: 14px; font-weight: bold; margin-bottom: 20px;"><%= "Уважаемый #{@name}!" %></h1><br/>

<p>Вы отправили предварительную заявку на приобретение акций ОАО «Живой офис».<br/>
Наши специалисты свяжутся с Вами в ближайшее время.</p><br/>

<p style="font-weight:bold;">Контактная информация:</p>
<p>
Ирина Рулева,<br/>
Директор Департамента по работе с акционерами и инвесторами ОАО «Живой офис»<br/>
<%= link_to "iruleva@spens.ru", "mailto:iruleva@spens.ru" %><br/>
Тел: +7 (812) 324-80-50
</p>