<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!--This file was converted to xhtml by OpenOffice.org - see http://xml.openoffice.org/odf2xhtml for more info.--><head profile="http://dublincore.org/documents/dcmi-terms/"><meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/><title xml:lang="en-US">Ты зарегистрировался на сайте, но до сих пор не выложил задания</title><meta name="DCTERMS.title" content="Ты зарегистрировался на сайте, но до сих пор не выложил задания" xml:lang="en-US"/><meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/><meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/><meta name="DCTERMS.creator" content="mayer"/><meta name="DCTERMS.issued" content="2011-12-05T23:45:00" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.contributor" content="mayer"/><meta name="DCTERMS.modified" content="2011-12-12T21:15:00" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.provenance" content="" xml:lang="en-US"/><meta name="DCTERMS.subject" content="," xml:lang="en-US"/><link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/><link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/><link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/><link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/><base href="."/>

  </head>
        <body >
<p>Уважаемые клиенты компании «Живой офис - Регион»! </p>

<p>Мы благодарим вас за взаимовыгодное сотрудничество!</p>

<p>Предлагаем встретить жаркое лето вместе с нашими новыми акциями и подарками:</p>

<p>Подробнее — в разделе «Акции» на сайте <a href="http://www.zhivojoffice.ru/act">http://www.zhivojoffice.ru/act</a> или у персонального менеджера по телефону: (4812) 24 44 24.</p>


<p>Мы строим партнерские отношения с нашими клиентами, поэтому с нами выгодно, легко и удобно работать! </p>

        </body>
</html>