<h3>Соообщение о готовности к заказу от: </h3>

<p>
  login: <b> <%= @from_user.name %> </b>
<br/>
  Отдел: <b>  <%= @from_user.otdel %> </b>
<br/>
  Фио:<b>   <%= @from_user.scr_name %> <%= @from_user.surname %> </b>
</p>

