<hr/>

Название товара: <%=@need.title %> <br />
Бренд или производитель: <%=@need.brend%><br />
Количество: <%=@need.quantity%><br />
Ссылка: <%=@need.link%><br />
Описание товара: <%=@need.description%><br /> <br />
Имя: <%=@need.name%><br />
Фамилия: <%=@need.user_f%><br />
Компания: <%=@need.company_ind%><br />
Телефон: <%=@need.phone%><br />
E-mail: <%=@need.email%><br />
<hr/>


