Новый клиент.

При регистрации  сообщил следующие данные:

Логин: <%= @user.name %>
Пароль: <%= @pass %>
Фамилия:<%=@user.surname%>
Имя:<%= @user.scr_name %>
Телефон:<%=@user.phone%>
E-mail :<%= @user.mail %>
Название организации:<%=@user.company_ind%>
ИНН:<%=@user.inn%>
Город:<%=@user.city%>





Желаем Вам приятного дня


Искренне Ваш,

www.zhivojoffice.ru

Внимание: Это письмо было автоматически отправлено с сайта «Живой офис». Не отвечайте на это письмо – мы не получим ваш ответ.

(http://www.zhivojoffice.ru).

