Здравствуйте, <%= @name  %>!
Вы воспользовались сервисом восстановления пароля на сайте www.zhivojoffice.ru. Перейдите по ссылке для автоматической регистрации:
<br/>
<br/>
<a href="http://www.zhivojoffice.ru/confirms/pass/?confirm=<%=@rnd%>">Ссылка</a> <br/><br/>

Изменить пароль можно в личном кабинете, в разделе «Регистрационные данные» <br/><br/>

Если ссылка не работает, откройте новое окно браузера, а затем скопируйте и вставьте URL-адрес в адресную строку. <br/>
http://www.zhivojoffice.ru/confirms/pass/?confirm=<%=@rnd%>

<br/><br/>
Желаем вам приятного дня!
<br/><br/>

Искренне ваш,<br/>

www.zhivojoffice.ru<br/><br/>

Внимание: Это письмо было автоматически отправлено с сайта «Живой офис», отвечать на него не нужно.<br/>

 (http://www.zhivojoffice.ru).