 <%=@user.id %>  <br/>
Участник игры Убей рутину!
 <br/>

<br/>

Логин:<%= @user.name %><br/>
Пароль:<%= @pass %><br/>
Фамилия:<%=@user.surname%> <br/>
Имя:<%= @user.scr_name %> <br/>
Телефон:<%=@user.phone%> <br/>
E-mail :<%= @user.mail %> <br/>
Название организации:<%=@user.company_ind%> <br/>
ИНН:<%=@user.inn%> <br/>
Город:<%=@user.city%> <br/>
Название команды в игре «Убей Рутину!»: <%=@user.rout_name%> <br/>
Ссылка на команду в игре «Убей Рутину!»: <%=@user.rout_link%>


 <br/> <br/> <br/>


Желаем Вам приятного дня <br/>


Искренне Ваш, <br/>

www.zhivojoffice.ru <br/>


(http://www.zhivojoffice.ru).

