Имя: <%=@secret.name  %> <br/>
Фамилия: <%= @secret.last_name %> <br/>
Телефон: <%= @secret.phone %> <br/>
Почта: <%= @secret.mail %> <br/>
Компания: <%= @secret.company_ind %> <br/>
Город:  <%= @secret.city %> <br/>
<br/>
Сообщение: <%= @secret.secret %> <br/>
