Здравствуйте, <%= @user.scr_name  %>! <br/>
Вы зарегистрировались в интернет-магазине «Живой офис». Перейдите по ссылке, чтобы подтвердить ваш e-mail:<br/>
http://www.zhivojoffice.ru/confirms?confirm=<%=@rnd%> <br/>
Если ссылка не работает, откройте новое окно браузера, а затем скопируйте и вставьте URL-адрес в адресную строку. <br/>


При регистрации вы сообщили следующие данные: <br/>
<br/>
Логин:<%= @user.name %><br/>
Пароль:<%= @pass %><br/>
Фамилия:<%=@user.surname%><br/>
Имя:<%= @user.scr_name %><br/>
Телефон:<%=@user.phone%><br/>
E-mail:<%= @user.mail %><br/>
Компания:<%= @user.company_ind %><br/>
ИНН:<%= @user.inn %><br/>
<br/>
<br/>
<br/>
Мы свяжемся с вами в кратчайшие сроки после подтверждения регистрации.<br/>
<br/>
Если вы получили это письмо по ошибке, вам не нужно предпринимать каких-либо действий.
<br/><br/>
<br/>
Желаем вам приятного дня!<br/>
<br/>
<br/>
Искренне ваш,<br/>
<br/>
www.zhivojoffice.ru<br/>
<br/>
Внимание: Это письмо было автоматически отправлено с сайта «Живого офиса», отвечать на него не нужно.
<br/><br/>
 (http://www.zhivojoffice.ru).
