Здравствуйте, <%= @user.scr_name  %>!<br/>
Вы зарегистрировались в интернет-магазине «Живой офис». <br/>


При регистрации были сообщены следующие данные: <br/>
<br/>
Логин:<%= @user.name %> <br/>
Пароль:<%= @pass %><br/>
Отдел:<%= @user.otdel %><br/>
Фамилия:<%=@user.surname%><br/>
Имя:<%= @user.scr_name %><br/>
Телефон:<%=@user.phone%><br/>
E-mail:<%= @user.mail %><br/>
Компания:<%= @user.company_ind %><br/>
ИНН:<%= @user.inn %><br/>
Лимит разового заказа:<%= @user.limit %><br/>
Оформление заказа:<%= if  @user.buy then'Да' else 'Нет' end   %><br/>
<br/>
<br/>

<br/>
Желаем вам приятного дня!<br/>
<br/>
<br/>
Искренне ваш,<br/>
<br/>
www.zhivojoffice.ru<br/>
<br/>
Внимание: Это письмо было автоматически отправлено с сайта «Живого офиса», отвечать на него не нужно.
<br/><br/>
 (http://www.zhivojoffice.ru).
