

  <% content_for(:cont) do %>
<br/> <br/>
<%#= image_tag ('/images2/spec_bas.gif') , :alt=>'Специальные цены на бумагу' , :style=>'margin-bottom: 10px;' if session[:city] != 'smo' %>
<br/>
<div class="green_title" >
   Ваша корзина пуста.
</div>
<% end %>