<% content_for(:cont) do %>
  <br>

  <br>
    <b>Спасибо, Ваш заказ обработан.</b><br>
   Состав заказа можно посмотреть <%= link_to 'Здесь',:controller=>'cabinet',:action=>'order' %>
   <br> <br>

В течение 30 минут* наш менеджер свяжется с Вами по телефону, который Вы указали при регистрации на сайте. <br/>

*(если заказ сделан в рабочие дни с 10 ч. до 17 ч. 30 мин.)<br/><br/>

<p>Если Вам не позвонили в указанный срок, либо Вы хотите оставить свой отзыв о работе нашей компании, зайдите в личный кабинет,
  пункт меню <%= link_to "обратная связь" , :controller=>'cabinet' , :action=>'feedback' %> и оставьте сообщение.

</p>
     <br>
     <%= link_to 'Вернуться на главную страницу',:controller=>'kt1' %>

<%end%>
