<div>

  <div id="photo2" style="width: 700px; height: 518px; background-image: url(/images/ava/n_back.gif);
       background-position: center center; background-repeat: no-repeat; ">

<img src="/images/l.jpg" />

  </div>



</div>