<%  @questions = Question.find_by_id(3) %>
<div id="opros"  style="text-align: left; margin-left: 90px;">
<% question = @questions %>
      <%= question.qestion %>
 <br/> <br/>
  <% form_for :q_answ, :url=>{:controller =>"desk_subjs" , :action => "q_answ" } do |f| %>

    <%= f.radio_button(:user_answ, "1") %>
    <%= f.label('user_answ_1' , question.answ1) %>
    <br/>

    <%= f.radio_button(:user_answ, "2") %>
    <%= f.label('user_answ_2' , question.answ2) %>
    <br/>

    <%= f.radio_button(:user_answ, "3") %>
    <%= f.label('user_answ_3' , question.answ3) %>
    <br/>

    <%= f.radio_button(:user_answ, "4") %>
    <%= f.label('user_answ_4' , question.answ4) %>
    <br/>
    <input type="radio" value="5" name="q_answ[user_answ]" id="q_answ_user_answ_5" onclick="show_id('variant')"/>
    <label for="q_answ_user_answ_5" onclick="show_id('variant')">Ваш вариант</label>
    <div id="variant" style="display: none;">
     Ваш вариант:  <%= f.text_field(:variant)  %> </div>
     <br/>
     <br/>
    <% unless login? %>
    <%= f.hidden_field  :user_id,:value=>0 %>
    <% else %>
    <%= f.hidden_field  :user_id,:value=>@user.id %>
    <%end%>
    <%= f.hidden_field  :q_id,:value=>question.id %>
      <%= f.hidden_field  :session_id,:value=>request.session_options[:id] %>

       <% @qq = Questionansw.find :first , :conditions=>['session_id=? ' , request.session_options[:id] ] %>
     <% if @qq and @user.id != 2019%>
    Мы ценим Ваше мнение. Вы уже проголосовали :)
     <% else %>
    <%= f.submit("Ответить" ,:style=>'color: #85c441;' )   %>
    <%end%>
     <%= link_to  'Результаты' , {:controller=>'desknews' , :action=>'opros2' , :id=>'3'} , :style=>'float:right; color:red;' %>

<% end %>

     


    
    
    

</div>