<% content_for(:cont) do %>
<h1>Editing desk_subj</h1>

<% form_for(@desk_subj) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subj %><br />
    <%= f.text_area :subj, :cols=>'90' , :rows=>'2' %>
  </p>
  <p>
    <%= f.label :s_text %><br />
    <%= f.text_area :s_text, :cols=>'90', :rows=>'5' %>
  </p>
    <p>
    <%= f.submit "Обновить" %>
  </p>
<% end %>


<%= link_to 'Back', desk_subjs_path %>
<% end %>