<br />
<h4>Загрузить фотографию.</h4>
<%= link_to 'Загрузить фото на сайт', :controller=>'picture',:action=>'get' %>
<br>

<%= link_to 'Удаление фото с сайта', :controller=>'pictue',:action=>'index' %>

