<% content_for(:cont) do %>
<style type="text/css">
.press{  border-bottom: 1px dashed #b1b3b6; padding-bottom: 10px; margin-top: 10px; }
.press a {color: #666666; text-decoration: none;}
.press .img { float: left; display: inline }
.press h3  {width: 500px; display: inline;}
.press span {float:right; color: #666666;}
</style>
<div style="float:left; width: 608px">

Журнал FORBES, июль 2012

     <img src="/images/page1.jpg" width="608"/>
     <br>
     <img src="/images/page2.jpg" width="608"/>
  </div>
<% end %>
