<% content_for(:tit) do %>
Живой офис. Пресса
<% end %>

<% content_for(:cont) do %>
<style type="text/css">
.press{  border-bottom: 1px dashed #b1b3b6; padding-bottom: 10px; margin-top: 10px; }
</style>
<div style="float:left; width: 608px">

<div class="green_title">Статьи о «Живом офисе»</div>
<br/>

    <% @news_items.each do |news_item| %>
      <table class="press">
        <tr>
          <td>
            <%= image_tag("news_items/#{news_item.image}", :width => "160px") %>
          </td>
          <td style="padding: 0px 10px; vertical-align: top; width: 100%;">
            <h3 style="margin-bottom: 10px;"><%= news_item.title %></h3>
            <%= news_item.body %>
          </td>
        </tr>
      </table>
    <% end %>


<br/>
<br/>
  </div>
<% end %>