  <div class="main_list">
    <h1>
      «Живой офис» делает все, чтобы раскрасить яркими идеями<br/> и смелыми решениями серые рабочие будни.
    </h1>
    <ul>
      <li>
      	С нами бизнес-ланч не будет пресным, мебель — серийной, а потолок — пригодным
     лишь для плевания.
      </li>
      <li>
      	Наши товары ежедневно поднимают настроение и самооценку офисным работникам
     в Москве, Санкт-Петербурге и Смоленске.
      </li>
      <li>
      	Мы используем в работе нестандартные бизнес-стратегии с фокусом на офисного
     сотрудника. Наш самый смелый проект — офисная супер-квест игра <span>«Убей Рутину!»</span>.
      </li>
      <li>
      	Маркетинговый прорыв компании позволил «Живому офису» выйти на федеральный
уровень Рунета, привлечь внимание пользователей Беларуси и Украины. Игра породила массу клонов в Сети: ряд ведущих европейских компаний вскоре запустили проекты с похожим названием.
      </li>
    </ul>
    <div class="links">
      <%= link_to "www.убейрутину.рф", "http://ybeirutiny.ru/", :target => '_blank' %> 
      <div class="share42init" data-url="http://zhivojoffice.ru/routine" data-title="«Живой офис» - убей Рутину!" data-image="http://zhivojoffice.ru/images/routine/rout_avatar.png" data-description="Узнай, как «Живой офис» сплотил россиян в борьбе с Рутиной!"></div>
<script type="text/javascript" src="http://zhivojoffice.ru/share42/share42.js"></script>
    </div>
  </div>