<div class="routin_menu">

<%= link_to 'Игра «Убей Рутину»' , {:action=>'index'} , :class=>'main_menu_act' , :style=>'float: left;'%>

<%= link_to 'Нестандартный&nbsp;маркетинг: кейс от Живого офиса ' , {:action=>'case'} , :class=>'main_menu_act' , :style=>'float: left; position: relative; top: -7px; width: 177px; text-align: center; line-height:15px;'%>

<%= link_to 'Веселые товары' , {:action=>'goods'} , :class=>'main_menu_act' , :style=>'float: left;'%>

<%= link_to 'Расправа c Рутиной' , {:action=>'rootina'} , :class=>'main_menu_act' , :style=>'float: left; margin-right: 130px;'%>



 <div class="floatleft" >
  <div class="ddheader" id="a4-ddheader" onmouseover="ddMenu('a4',1)" onmouseout="ddMenu('a4',-1)">
    <span style="position: relative; right: -90px; "> На досуге </span>
  </div>
  <div class="ddcontent" id="a4-ddcontent" onmouseover="cancelHide('a4')" onmouseout="ddMenu('a4',-1)">
    <div class="ddinner">
      <ul>

        <li class="underline">
          <a class="r_sub" href ="/routine/entertainment">Подарочная коробка</a>
        </li>

            <li class="underline">
          <a  class="r_sub" href ="/routine/entertainment2">Рыжий кот</a>
        </li>

      </ul>
    </div>
  </div>
</div>




</div>