<% content_for(:tit) do %>
Убей Рутину — это веселая онлайн-игра
для офисных сотрудников России

<% end %>


<% content_for(:cont) do %>

<style type="text/css">
 .routine p {text-align: justify;}
 .routine p { margin-top: 15px; width: 650px; color: #808285;}
.routine p:hover {color:#454545;}
.routine h3 {color: #F47920; font-style: italic; margin-top: 20px;  font-size: 15px;}

</style>

<div class="routine" >


  <div style="position: absolute; top: 125px; left: 15px;"> <%= render :partial=>'/routine/routin_menu'  %>  </div>

 


    <h2 style="color: #F47920; margin-top: 30px; ">
КАК ЖИВОЙ ОФИС «УБИЛ» РУТИНУ, ПРИВЛЕК СВЫШЕ <br/>1 МЛН. ПОЛЬЗОВАТЕЛЕЙ НА СВОЙ САЙТ <br/> И ПОВЫСИЛ ОНЛАЙН ПРОДАЖИ В 3 РАЗА
  </h2>

  <p>
    <span style="color: #F47920; font-weight: bold;">600</span> команд, общий охват аудитории – <span style="color: #F47920; font-weight: bold;">1 млн. человек</span>
    по всей России, <span style="color: #F47920; font-weight: bold;">свыше 50 тыс. лайков</span> в социальных сетях,
    <span style="color: #F47920; font-weight: bold;">более 100 сообщений</span> в различных СМИ, среди которых журнал «Форбс», интерес профессионального сообщества,
активное создание «клонов» проекта в Сети… Это только голые поверхностные факты. Реальные же итоги показывают рост продаж с
сайта компании в 3 раза за 3 месяца и успешный выход на московский рынок ранее неизвестной в Москве и Московской области петербургской компании.
<span style="color: #F47920; font-weight: bold;">Как?</span> Благодаря  <span style="color: #F47920; font-weight: bold;">нестандартному</span> маркетингу!

  </p>

  <h3>Исходные параметры </h3>

  <p>
  Выделиться среди других игроков своего сектора, привлечь больше клиентов, увеличить сумму среднего чека, повысить посещаемость сайта компании…
  Типичные задачи, для решения которых стандартного подхода недостаточно. Поэтому командой группы компаний «Живой офис» было принято смелое
  решение помимо обычных инструментов использовать нестандартный маркетинг. </p>
  <p>
Компания рассматривала несколько вариантов нестандартных для отрасли маркетинговых проектов, которые способны были привлечь активное внимание и
вовлечение целевой аудитории. </p>
  <p>
Например, серию профессиональных оффлайновых семинаров с ярким контентом, премию в области офисного искусства, живую студию-офис в центре города
с разыгрыванием офисных сценок, сериал на тему жизни в «Живом офисе».
В процессе разработки акцент был смещен на онлайн-среду, как самую перспективную с точки зрения
  </p>
  <ul style="list-style-position: inside;">
    <li> отдачи на вложения,</li>
    <li> массы технических возможностей, </li>
    <li> актуальности и востребованности среди молодой аудитории.</li>
  </ul>
  <p>
В сентябре 2011 года группа компаний «Живой офис», совместно с коммуникационным агентством «Майер»
(г.Санкт-Петербург) начала работу по разработке уникального проекта, позволившего всего за три месяца сделать
качественный рывок в росте продаж, количестве привлеченных на постоянной основе клиентов и активных посетителей
официального сайта компании. </p>
  <p>
Важная деталь: задумка была успешно реализована при достаточно скромном бюджете для подобных проектов, с учетом сжатых сроков на разработку и осуществление.
  </p>

  <p>
    <img src="/images2/dpr.jpg" style="width: 650px;" />
  </p>

  <p>
  Быстрый и качественный рывок стал возможным благодаря неожиданному маркетинговому ходу компании. </p>
  <p>
  <span style="color: #F47920; font-weight: bold;">Онлайн-игра «Убей Рутину»</span> наглядно показала широкой общественности, что работа в офисе – не скучное времяпрепровождение,
а очень даже увлекательное занятие. Проект «Убей Рутину!» привлек на сайт «Живого офиса» свыше 1 млн. пользователей со всей России,
повысил число постоянных клиентов и обеспечил 100% попадание акции в целевую аудиторию.

  </p>

  <h2 style="color: #F47920; margin-top: 30px; ">
Рождение «Рутины»
  </h2>
  <p>
    <img src="/images2/rout/rout1.jpg" style="width: 150px; float: left; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/rout2.jpg" style="width: 150px; float: left; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/rout3.jpg" style="width: 150px; float: left; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/rout4.jpg" style="width: 150px; float: left; margin-right: 10px; margin-bottom: 10px;" />

   На первый взгляд рецепт игры был прост: берем команды из нескольких игроков каждая, выдаем им задания,
   для выполнения которых требуется фотоаппарат, немного фантазии и, конечно, канцелярские товары. </p>
  <p>
Но за внешней простотой скрывалась серьезная  и напряженная работа: создание он-лайн-площадки и самой игры на Web 3.0 платформе.
Необходимость разрабатывать творческие задания на каждый день в течение трех месяцев, постоянный мониторинг прохождения игры командами,
сбор и оценка обратной связи от игроков, и, в случае отсутствия интереса, оперативная замена заданий. Все это требовало слаженной командной работы и креативного подхода. </p>
  <p>
Что касается технической стороны, то силами команды профессиональных технических специалистов и системных администраторов регулярно
проводилась проверка голосования на наличие подставных оценок, защита от хакерских атак, удаление ботов. </p>
  <p>
Началу проекта предшествовала активная оффлайновая рекламная кампания, включающая серию широкомасштабных оффлайн мероприятий:
флешмобов, метромобов, лифлетинга в Москве и Санкт-Петербурге, а также продвижение в социальных сетях, вирусный маркетинг, заранее подогревшая интерес аудитории к игре.
  </p>


  <p>
 Концепция самой игры и образ главного «антигероя» - Рутины был разработан в строгом соответствии с политикой «Живого офиса»:

  </p>

  <p style="font-style:italic">
    «Наша  задача состояла в том, чтобы не просто персонифицировать Рутину, но создать такой ее визуальный образ,
    который будет наглядно демонстрировать идею, вызывать неприязнь, но не негатив, и уж точно – желание с зеленой
    склизкой гадкой Рутиной расправиться, пока она не поглотила все живое. Персонаж Рутина был создан совместными силами с
    партнером «Живого офиса» по проведению игры – агентством «Майер»! Сама игра была призвана показать офисным сотрудникам, что офис
    не исключает права человека на индивидуальность, что работать в офисе можно и нужно с удовольствием, а не просто существовать на работе.
    «Убей Рутину – живи в живом офисе» - один из слоганов нашей компании, таким стал и девиз игры», - отметила <b>Лада Бутенко,
      Директор по маркетингу группы компаний «Живой офис» и автор концепта игры.</b> – Первоначально проект носил исключительно имиджевый характер,
    у нас не было цели сделать игру конвертируемой. Получившиеся результаты превзошли наши ожидания!».
  </p>




  <h2 style="color: #F47920; margin-top: 20px;">
Эффективное «убийство»
  </h2>

  <p>
В итоге такого комплексного подхода, «Убей Рутину», на целый месяц захватившая верхние строчки в списках самых популярных игр Рунета,
собрала на одном поле 600 команд из более чем 40 городов – от Калининграда до Владивостока. Борьба за первый приз – поездку в Италию –
была напряженной: сервер игры пришлось даже переносить в Германию и всерьез озаботиться проблемой подсчета голосов, поскольку команды не
гнушались использовать специальные программы, увеличивающие количество лайков в результатах голосования, определявших победителей. <br/>
</p>

  <p><span style="color: #F47920; font-weight: bold;">Результат превзошел все ожидания!</span>
</p>



<p>
  <i>«При создании игры мы рассчитывали на то, чтобы она стала популярной у офисных сотрудников: секретарей, администраторов, офис-менеджеров,
менеджеров по закупкам и т.п. Согласно проводившимся в ходе и после проведения игры исследованиям - получилось 100%-ое попадание в целевую аудиторию!
Кроме того, доля продаж через сайт продолжает и сейчас неуклонно расти, как пост-эффект от первого проекта»</i> - отметила <b>Лада Бутенко.</b> </p>
  <p>
Благодаря такой точности привлечения интереса целевой аудитории, выросла не только посещаемость сайта: пользователи с удовольствием не просто открывали для
себя офисный мир с новой, неизведанной стороны, но и регистрировались на сайте, делали заказы – в течение прошлого года доля продаж через сайт выросла
до 15% от общего объема продаж компании. Во время игры конверсия в заказы составила около 3% от общего числа заходов, что является весьма весомым результатом
для компаний данного сектора. Впоследствии произошло расширение ядра постоянных клиентов компании: как минимум 10%
участников стали регулярно пользоваться услугами «Живого офиса».</p>
  <p>
«Рутина» была популярна как у новичков, ранее не знакомых с «Живым офисом», так и у постоянных клиентов, значительно увеличилось количество прямых
запросов названия компании в поисковых системах.
</p>

<p>
Кроме того, игра пробудила интерес профессионального сообщества: «Рутина» вошла в шорт-лист IV фестиваля маркетинга и рекламы
«Белый квадрат», а всемирно известный журнал «Форбс» подготовил развернутый материал про «Живой офис». Интересно отметить, что несколько
региональных компаний после проведения игры просили оформить франшизу на бренд «Живой офис». Некоторые отечественные и иностранные компании
сектора пошли дальше и подхватили «эстафету» - в социальных сетях Рунета появилось несколько аналогов «Рутины», например, практически точная
копия от <a href="http://www.advertology.ru/article101834.htm" rel="nofollow" target="_blanck"> Nokia,</a> появившаяся в сети через 3 месяца после старта игры «Убей Рутину!». </p>
  <p>
К слову, это далеко не первый проект «Живого офиса», который впоследствии был «подхвачен» конкурентами. Достаточно часто активные игроки
отрасли почти в точности копируют маркетинговые акции, которые «Живой офис» проводит для своих клиентов. Например, в «Живом офисе» принято
дарить клиентам за покупки не просто набившую оскомину сувенирку, а креативные вещи, сделанные силами внутренней службы арт-дизайна. И этот подход тиражируют конкуренты. </p>
  <p>
В результате «Убей Рутину 2012» команда из 20 самых творческих и активных игроков России уехала на родину Рутины, найденную командой
«Живого офиса» в небольшом городе Рутино, расположенном в сердце Италии, чтобы окончательно расправиться с ней. Участники 3 дня буквально
сражались в супер-квесте в Италии, чтобы добраться, наконец, до места рождения Рутины и обезвредить ее. </p>
  <p style="text-align: center;">
    <img src="/images2/rout/raspr1.jpg" style="width: 300px; display: inline; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/raspr2.jpg" style="width: 300px; display: inline; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/raspr3.jpg" style="width: 300px; display: inline; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/raspr4.jpg" style="width: 300px; display: inline; margin-right: 10px; margin-bottom: 10px;" />
    <img src="/images2/rout/raspr5.jpg" style="width: 300px; display: inline; margin-right: 10px; margin-bottom: 10px;" />

  </p>


  <p>
Все задания из прошедшей игры можно посмотреть в YouTube, на канале <a href="http://www.youtube.com/user/ybeirutiny" rel="nofollow" target="_blanck">«Живого офиса». </a></p>
  <p>
Однако Рутина настолько повсеместна, сильна и живуча, что в этом году она вернулась ...
</p>

  <h2 style="color: #F47920; margin-top: 20px;">
Конец Света? Пережили!
  </h2>
  <p>
   <img src="/images2/r2013.jpg" style="width: 150px; float: left; margin-right: 10px; margin-bottom: 10px;" />

Понятно, что если игра настолько понравилась клиентам и показала такую высокую финансовую отдачу, логичным было бы сделать продолжение.
</p>
<p>
Ожидаемая общественностью «Убей Рутину-2» стартовала накануне ожидаемого в декабре 2012 года конца света, соответственно, первая часть игры,
по понятным причинам, была посвящена, в том числе, и этому событию.
</p>
<p>
В этом году игра более близка к бизнес-формату: появились специальные задания от спонсоров и партнеров компании, например,
спонсорское задание от крупнейшего лидера отрасли Esselte, более детально отслеживается поведение игроков, конверсия, введена
специальная форма опознавания постоянных клиентов, которым автоматически начисляются бонусы за задания и выигранные бои с «Рутиной».
Кроме того, был существенно переработан сайт проекта,  на главной странице размещена интерактивная карта, на которой отображаются
офисы команд, играющих в проекте. Это уникальный сервис, разработанный специально под проект.
</p>
<p>
Рутина в этом году приобрела радикальный облик, поскольку озлобилась после событий в Италии. Проект активно развивается!
</p>
<p>
  Надо отметить, «движуха» в самом разгаре: за главный приз этого года – 1 млн. руб. уже борются <span style="color: #F47920; font-weight: bold;">около пятисот команд. </span>
Действует развитая система поощрительных призов за каждое выполненное задание игры – это сертификаты на покупки, бонусные баллы,
шикарные сувениры с символикой Рутины, подарки-впечатления на внушительную сумму и т. п.
</p>
<p>
Самая активная битва развернется накануне окончания проекта, в конце апреля-мае, в ходе проведения авто-квеста.
Поэтому сейчас самое время вступать в битву с Рутиной, выигрывать призы и биться до победного за <span style="color: #F47920; font-weight: bold;">главный приз – 1 млн. рублей! </span>
</p>
<br/><br/>
<a href="http://ybeirutiny.ru/" target="_blanck">Включайтесь! Мы уже играем! </a>
<br/><br/>
Подробный видеоролик о новой игре можно <a href="http://www.youtube.com/watch?v=s48PO-i7lc4" target="_blanck">посмотреть тут.</a>
</div>


<% end %>
