<% content_for(:tit) do %>
Делаем Рыжего кота
из бумаги своими руками

<% end %>


<% content_for(:cont) do %>

<div style="position: relative; ">
  <img src="/images2/r_up.jpg" />
  <div style="position: absolute; top: 125px; left: 15px;"> <%= render :partial=>'/routine/routin_menu'  %>  </div>
</div>
 <div style="background: url('/images2/ent2.jpg') 40px 0px  no-repeat; min-height: 536px; margin-top: 20px; ">

   <div style="width: 320px; float: right; padding: 10px; margin-right: 76px;">
  <h2 style="color: white; ">
  Рыжий кот
  </h2>
<br/>
  <p style="color: white;">

1. Согните
две смежные стороны квадрата к намеченной диагонали <br/>

2. Согните верхний и нижний углы так, чтобы они встретились на центральной линии
<br/>
3. Сложите правую часть фигуры зигзагом
<br/>
4. Согните фигуру пополам, видимая в исходном ракурсе диагональ — линия «долина»
<br/>
5. Согните по пунктирной линии, показанной на рисунке
<br/>
6. Раскройте
и расправьте верхнюю часть фигуры
<br/>
7. Поверните фигурку
<br/>
8. Выверните хвостик наверх
<br/>
9. Вогните внутрь нижние тупые углы
<br/>
10. Загните нижний угол будущей мордочки наверх
<br/>
11. А теперь вниз
<br/>
12. Зигзагообразными складками <br/> «вложите» ушки внутрь
<br/>
13. Нарисуйте
глазки <br/> — котик готов



</p>

   </div>

</div>


<% end %>
