<% content_for(:tit) do %>
Делаем подарочную коробку
из бумаги своими руками

<% end %>


<% content_for(:cont) do %>

<div style="position: relative; ">
  <img src="/images2/r_up.jpg" />
  <div style="position: absolute; top: 125px; left: 15px;"> <%= render :partial=>'/routine/routin_menu'  %>  </div>
</div>
 <div style="background: url('/images2/ent1.jpg') 0px 0px no-repeat; min-height: 669px; margin-top: 20px; ">

   <div style="width: 240px; float: right; padding: 10px;">
  <h2 style="color: white; ">
    Делаем подарочную коробку
из бумаги своими руками
  </h2>
<br/>
  <p style="color: white;">

1. Для коробки нам понадобится 2 квадрата любого размера, но нужно учитывать,
что на крышку квадрат должен быть больше на 0,8 см. <br/> <br/>


2. По диагонали и по средней линии сгибаем квадрат, загибаем угол до точки пересечения линий и загибаем нижний край до средней линии.
<br/><br/>

3. Разворачиваем и повторяем пункт 2
с каждым углом.
<br/><br/>

4. Ножницами разрезаем образовавшийся контур квадрата с двух сторон по две линии до центрального квадрата.


5. Складываем и загибаем
боковые стороны вдвое.
<br/><br/>

6. Накрываем стыки сторон и приклеиваем сходящиеся внутри треугольники.
<br/><br/>

7. Так же делаем и вторую часть коробки.


</p>

   </div>

</div>


<% end %>
