<div id="content" style="background-image: url('/images/routine/avtomat2.png') !important">
  <%= render :partial => "routine/main_list" %>
  <div id="bars">
  <div class="left_bar">
    <%= link_to image_tag("routine/rutina1_mal.png"), "/routine" %>

     <a href="" id="question_1" onclick="toggle_changecolor('question_1','answer_1'); return false">«Убей Рутину-1»: как офисные сотрудники узнали врага в лицо и начали с ним бороться ▼</a>
<div id="answer_1" style="display: none;">
	<p>
	Первый сезон игры «Убей Рутину!» собрал 600 команд, общий охват аудитории – 1 млн. человек по всей России, свыше 50 тыс. лайков в социальных сетях, более 100 сообщений в различных СМИ, среди которых журнал «Форбс», интерес профессионального сообщества. Это только голые поверхностные факты. Реальные же итоги показывают рост продаж с сайта компании в 3 раза за 3 месяца и успешный выход на московский рынок ранее неизвестной в Москве и Московской области петербургской компании. Как? Благодаря нестандартному маркетингу!
	</p>
</div>

<a href="" id="question_2" onclick="toggle_changecolor('question_2','answer_2'); return false">Рождение Рутины ▼</a>
<div id="answer_2" style="display: none;">
	<p>
	В сентябре 2011 года группа компаний «Живой офис», совместно с коммуникационным агентством «Майер» (г. Санкт-Петербург) начала работу по разработке уникального интернет-проекта, позволившего всего за три месяца сделать качественный рывок в росте продаж, количестве привлеченных на постоянной основе клиентов и активных посетителей официального сайта компании.
  </p>
	<p>
На первый взгляд рецепт игры был прост: берем команды из нескольких игроков каждая, выдаем им задания, для выполнения которых требуется фотоаппарат, немного фантазии и, конечно, канцелярские товары. Но за внешней простотой скрывалась серьезная и напряженная работа: создание он-лайн-площадки и самой игры на Web 3.0 платформе. Необходимость разрабатывать творческие задания на каждый день в течение трех месяцев, постоянный мониторинг прохождения игры командами, сбор и оценка обратной связи от игроков, и, в случае отсутствия интереса, оперативная замена заданий. Что касается технической стороны, то силами команды профессиональных технических специалистов и системных администраторов регулярно проводилась проверка голосования на наличие подставных оценок, защита от хакерских атак, удаление ботов.
Концепция самой игры и образ главного «антигероя» - Рутины был разработан в строгом соответствии с политикой «Живого офиса»:
</p>
	<p>
«Наша задача состояла в том, чтобы не просто персонифицировать Рутину, но создать такой ее визуальный образ, который будет наглядно демонстрировать идею, вызывать неприязнь, но не негатив, и уж точно – желание с зеленой склизкой гадкой Рутиной расправиться, пока она не поглотила все живое. Персонаж Рутина был создан совместными силами с партнером «Живого офиса» по проведению игры – агентством «Майер»! Сама игра была призвана показать офисным сотрудникам, что офис не исключает права человека на индивидуальность, что работать в офисе можно и нужно с удовольствием, а не просто существовать на работе. «Убей Рутину – живи в живом офисе» - один из слоганов нашей компании, таким стал и девиз игры», - отметила Лада Бутенко, Директор по маркетингу группы компаний «Живой офис» и автор концепта игры. – Первоначально проект носил исключительно имиджевый характер, у нас не было цели сделать игру конвертируемой. Получившиеся результаты превзошли наши ожидания!».
</p>
	<p>
 «Убей Рутину-1», на целый месяц захватившая верхние строчки в списках самых популярных игр Рунета, собрала на одном поле 600 команд из более чем 40 городов – от Калининграда до Владивостока. Борьба за первый приз – участие в супер-квесте в итальянском городке Рутино – была напряженной: сервер игры пришлось даже переносить в Германию и всерьез озаботиться проблемой подсчета голосов, поскольку команды не гнушались использовать специальные программы, увеличивающие количество лайков в результатах голосования, определявших победителей. 
	</p>
</div>

<a href="" id="question_3" onclick="toggle_changecolor('question_3','answer_3'); return false">Точное попадание: Рутина обезврежена ▼</a>
<div id="answer_3" style="display: none;">
	<p>
	«При создании игры мы рассчитывали на то, чтобы она стала популярной у офисных сотрудников: секретарей, администраторов, офис-менеджеров, менеджеров по закупкам и т.п. Согласно проводившимся в ходе и после проведения игры исследованиям - получилось 100%-ое попадание в целевую аудиторию! Кроме того, доля продаж через сайт продолжает и сейчас неуклонно расти, как пост-эффект от первого проекта» - отметила Лада Бутенко.
	</p>
		<p>
Благодаря такой точности привлечения интереса целевой аудитории, выросла не только посещаемость сайта: пользователи с удовольствием не просто открывали для себя офисный мир с новой, неизведанной стороны, но и регистрировались на сайте, делали заказы – в течение года доля продаж через сайт выросла до 15% от общего объема продаж компании. Во время игры конверсия в заказы составила около 3% от общего числа заходов, что является весьма весомым результатом для компаний данного сектора. Впоследствии произошло расширение ядра постоянных клиентов компании: как минимум 10% участников стали регулярно пользоваться услугами «Живого офиса».
«Рутина» была популярна как у новичков, ранее не знакомых с «Живым офисом», так и у постоянных клиентов, значительно увеличилось количество прямых запросов названия компании в поисковых системах.
	</p>
</div>

  </div>
  <div class="right_bar">
  	<%= link_to image_tag("routine/rutina2_mal.png"), "/routine" %>

  	<a href="" id="question_4" onclick="toggle_changecolor('question_4','answer_4'); return false">«Убей Рутину-2»: как «Живой офис» победил Конец Света и стал известен за пределами России ▼</a>
<div id="answer_4" style="display: none;">
	<p>
	Решение использовать идею Конца Света как начало нового сезона супер-квест игры «Убей Рутину – 2» напрашивалось само собой: успех первого проекта превзошел самые смелые ожидания. Во втором сезоне игры 2012-2013 гг. 250 команд из Санкт-Петербурга и 500 из Москвы боролись за главный приз – 1 миллион рублей! Охват аудитории составил 3 млн. человек, «Убей рутину-2» набрала 300 000 «лайков» в Twitter и Facebook. Квест обеспечил рекордный показатель конверсии:  порядка 20% участников стали нашими клиентами. На этот раз игра приобрела федеральный масштаб и привлекла внимание офисных сотрудников Сибири, Юга, Урала, Дальнего Востока. О проекте узнали в Украине и Беларуси. «Убей Рутину-2» активно продвигалась во всех социальных медиа. Игра спровоцировала 200 публикаций в СМИ.
	</p>
		<p>
Сайт-таргетинг показал гендерный перевес в сторону сильной половины человечества, погрязшей в болоте серых офисных будней: 60% участников Убейрутину.рф - мужчины. Большинство игроков – молодые сотрудники офисов 25-34 лет – самые активные, инициативные и смелые борцы с Рутиной. Наибольшей популярностью сайт пользовался среди москвичей – 55% против 28% петербуржцев. Остальную часть «виртуального пирога» разделили между собой южане (5%), сибиряки (8%), жителя Урала (7%) и прочих регионов России. Игра дала рекордный показатель конверсии – 20% участников стали клиентами «Живого офиса».
</p>
	</p>
</div>

<a href="" id="question_5" onclick="toggle_changecolor('question_5','answer_5'); return false">Как стать миллионером ▼</a>
<div id="answer_5" style="display: none;">
	<p>
	Темой состязания не случайно стал Конец Света. Его опасался не один российский офис: некоторые работодатели даже объявили 21 декабря 2012 года выходным днем. «Живой офис» посчитал виновником галактического бедствия огромный метеорит из созвездия Рутины, который медленно, нудно и необратимо надвигался на Землю. В отличие от Звезды смерти, вооруженной мощным энергетическим оружием, метеорит Рутины ничего не разрушал, зато лишал все живое энергии и инициативы. Под угрозой заражения оказались офисные помещения – теплая и вязкая среда, благоприятная для распространения рутинного вируса. Помочь Земле могли лишь сплоченные отряды офисных сотрудников двух российских столиц. 
	</p>
	<p>
  Чтобы прекрасным апрельским днем проснуться богатыми и знаменитыми игроки, вооружившись фотоаппаратами, оргтехникой, видеокамерами и неуемным энтузиазмом выполняли хитроумные задания. Дабы не раствориться в мутной массе «офисного планктона», который питается однообразием и скукой, и победить Рутину, участники старались изо всех сил. Игроки придумывали самые действенные способы остудить «вспыхнувшего» офисного сотрудника, изобретали орудие борьбы с офисными зомби, участвовали в конкурсе «очепяток», печатали офисную валюту, рисовали комиксы, создавали коллаж на тему офисного Тупняка. Рейтинг определялся путем умножения числа выполненных заданий на количество «лайков». За каждое выполненное задание участник игры получали сертификаты на покупки, бонусные баллы, шикарные сувениры с символикой Рутины, подарки-впечатления на внушительную сумму и т. п. Пятерка лучших команд Москвы и Санкт-Петербурга приняла участие в финальном автоквесте, сильнейшие в каждом из городов забрали весь призовой фонд пятимесячного соревнования. 
	</p>
</div>

<a href="" id="question_6" onclick="toggle_changecolor('question_6','answer_6'); return false">Игра головой ▼</a>
<div id="answer_6" style="display: none;">
	<p>
	  Второй сезон игры – это не пилотный проект, а продуманная бизнес-стратегия. К игре привлекли  спонсоров и партнеров компании, внимательнее следили за поведением игроков, анализировали конверсию, ввели специальную форму опознавания постоянных клиентов, которым автоматически начислялись бонусы за задания и выигранные бои с Рутиной. Специально для проекта была разработан уникальный сервис - интерактивная карта, на которой отображались офисы игроков. Для обратной связи с игроками использовался аккаунт ВКонтакте, в сообществе в Facebook публиковалась актуальная информация о проекте, размещались новые и выполненные участниками задания, транслировалась информация с Foursquare, в Instagram можно было найти шутки и цитаты на офисную тематику. По базе зарегистрированных пользователей первого сезона и новых игроков рассылались информационные письма, анонсы о запуске игры появились на главных порталах по маркетингу, рекламе и Pr – adme.ru и sostav.ru, пресс-релизы о старте и ходе игры рассылались по базе ведущих СМИ.
	</p>
	<p style="text-decoration: underline;font-style: italic;">
    «Живой офис» планирует и дальше придумывать интересные способы борьбы с Рутиной. Заходите на наш сайт, вступайте в группу ВКонтакте и будьте в курсе самых ярких событий. 
	</p>
</div>
  </div>
  </div>
      <%= image_tag "routine/photos2.png", :class => "photos_guide" %>


