<div id="content">
<%= render :partial => "routine/main_list" %>
  <div id="routinas">
    <%= link_to "  ", "/routine/guide", :class => "first_season" %>
    <%= link_to "  ", "/routine/guide", :class => "second_season" %>
    <%= image_tag "routine/photos1.png", :class => "photos_index" %>
  </div>
</div>