<% content_for(:tit) do %>
Произведена жестокая расправа над Офисной Рутиной.
<% end %>

<% content_for(:cont) do %>


<div>
<div style="position: relative; margin-bottom: 20px; ">
  <img src="/images2/r_up.jpg" />
  <div style="position: absolute; top: 125px; left: 15px;"> <%= render :partial=>'/routine/routin_menu'  %>  </div>
</div>


  <span style="float: left; "> <img src="/images/rootina.jpg" width="200px" />   </span>
  <div style="margin-left: 220px;">
  <span style="color: #ed2957; font-size: 22px;">Внимание! Офисы России в безопасности!<br/> Произведена жестокая расправа над Офисной Рутиной. </span>
  <br/>  
  <span>


     <br/> <br/>
  В мае 2012, в небольшом городке Рутино, что в самом сердце Италии, состоялась финальная расправа с Зеленой Офисной Рутиной.
  
   <br/> <br/>
Силами мощной команды победителей проекта «Убей Рутину», самых креативных и ярких офисных сотрудников России, Рутина была найдена, обезоружена и повержена.
Рутиноборцы активно веселились, разгоняли офисную скуку, сражались с Рутиной на работе в ходе всего проекта на сайте Убейрутину.рф,
и не менее самоотверженно – в Италии, под предводительством творческой группы и организаторов проекта.
  </span>
  <br/> <br/>
  <p style="color: #ed2957; font-size: 18px;">Факты:</p>

  <ul>
    <li>В ходе онлайн-игры для офисных сотрудников «Убей Рутину» на сайте Убейрутину.рф в течение 4-х месяцев шла серьезная борьба с зеленой монотонностью и гнетущим однообразием офисных будней;
 </li>
    <li>20 самых ярких и креативных офисных сотрудников России из Санкт-Петербурга, Москвы, Челябинска, Петрозаводска, Смоленска, Новороссийска и других городов РФ стали победителями проекта и получили право произвести финальную расправу над Офисной Рутиной; </li>
    <li>В проекте приняли участие творческие представители крупнейших компаний России;
 </li>
    <li>Рутино – небольшой городок в самом сердце Италии, в 300 км от Рима; - Именно в Рутино была обнаружена офисная зеленая Рутина, которая превращает веселых и умных работников офисов в офисный планктон;
 </li>
    <li>В г. Рутино проживают 900 веселых жителей, они жили в счастливом неведении о происхождении названия своего чудесного городка до тех пор, пока мы не раскрыли им тайну;
 </li>
    <li> Силами самых креативных и ярких офисных сотрудников РФ, Рутина была найдена, обезоружена, упрятана и прикована к самому старому дереву г. Рутино, где любой любопытный и бесстрашный может найти ее по сей день;
</li>
    <li>Рутино ждет нас в 2013 на случай, если Рутина проявит свойственную ей изворотливость и живучесть;
 </li>
    <li> На протяжении всей истории жизни и смерти Офисной Рутины не пострадал ни один офисный сотрудник России.
</li>
  </ul>
   <br/>
  <p> Фоторепортаж и комментарии участников смотрите в официальной группе проекта –
    vk.com/ybeirutiny, на сайте компании «Живой офис» (Живойофис.рф), на сайте <a href="http://Убейрутину.рф"> Убейрутину.рф </a> Следите за анонсами! </p>
   <br/>
  <p style="font-weight: bold;">
    Скоро! Фильм об интерактивной поездке в Рутино. </p>

  <br/>
  <% @num=1000 %>
  <%= render :partial=>'/part2/n1' %>

  </div>
</div>

<% end %>
