Название компании:
<%=@c_name%>

Город:
<%=@city%>


Заказана доставка экспресс-каталога по адресу:
<%=@adres%>.

Телефон:
<%=@tel%>


ФИО контактного лица:
<%=@fio%>



Заказан на сайте.
