<% content_for(:tit) do%>
 Живой офис. Реквизиты.
<%  end %>

<% content_for(:cont) do %>


<h2 style ="color:red;">Реквизиты </h2>
<br><br>
<div style="border-bottom:2px dashed #E7E7E7">


<table cellspacing="0" cellpadding="8" style="color:#A0A0A0">
<tbody>

<tr>
  <td style="width:450px;">ООО «СПЕНС»<br>
ИНН 7805121667<br>
КПП 781101001<br>
Код ОКПО 50024342<br>
Код ОКОНХ 71100<br>
Юридический адрес: 192019, Санкт-Петербург, наб. Обводного канала, 14<br>
Фактический адрес: 192019, Санкт-Петербург, наб. Обводного канала, 14<br>
Телефон / факс: +7(812) 324 80 50<br> </td>
  <td> Банковские реквизиты:<br>
Расчетный счет 40702810600050000732 <br>в САНКТ-ПЕТЕРБУРГСКОМ ФИЛИАЛЕ ОАО «ФОНДСЕРВИСБАНК»<br>
Кор. счет 30101810200000000717<br>
БИК 044030717<br>
КПП 781101001<br><br> </td>
</tr>

</tbody>
</table>
<br>


<br>

</div><br><br>






<br><br>






<%end%>
