<% content_for(:tit) do %>
 Живой офис. Конкурс.
<%end%>
<% content_for(:cont) do %>
<div class="green_title">Конкурс</div>
<%= image_tag('/images2/smalllifeb.jpg') %> <br/>
<div>

<b><span style="color:#ec008b">
<p align="left">Мечты об отпуске: итоги подведены!</p></span></b>
<span style="color:#818185">
<p align="left">Живой офис завершил конкурс для офисных сотрудников, которые имеют право на отпуск и на лето! </p></span>
<b><span style="color:#ec008b">
<p align="left">ПОБЕДИТЕЛИ:</p></span></b>
<p align="left"><br/>Первое место: <a target="_blank" href="http://vk.com/photo-15320455_285216657" wrc-processed="pending">Полина Михеева</a></p>
<p align="left">Второе место: <a target="_blank" href="http://vk.com/photo-15320455_285256147" wrc-processed="pending">Надя Володарская</a></p>
<p align="left">Третье место: Ксюша Meow и Irina Dedushkova</p>
<p align="left">Живой офис поздравляет всех победителей и ждёт на торжественную церемонию награждения!</p>

<b><span style="color:#00aeef">
<p align="left"></p></span><span style="color:#ec008b">
<p align="left">Какие были условия:</p></span></b><span style="color:#818185">
<p align="left">Вы &ndash; сотрудник офиса Москвы, Петербурга или Смоленска.</p>
<p align="left">Вы &ndash; клиент «Живого офиса» или собираетесь им стать.</p>
<p align="left"></p></span><b><span style="color:#ec008b">
<p align="left">Что нужно было сделать:</p></span></b><span style="color:#818185">
<p align="left">Вступить в <a target="_blank" href="http://vk.com/zhivoj_office" wrc-processed="pending">нашу группу Вконтакте</a> и выложить «отпускные» фото (1 участник = 1 фото) &ndash; счастливых себя, друзей, родственников, детей, любимых</p></span><span style="color:#ec008b"> <a target="_blank" href="http://vk.com/album-15320455_159250010" wrc-processed="pending">в альбоме конкурса.</a></span><span style="color:#818185">
  <p align="left">Подписать свое фото: где и как это было? </p>
  <p align="left">Рассказать, какие эмоции вы получили. </p>
  <p align="left">Что запомнилось?</p>
  <p align="left">Что хочется повторить? </p>
  <p align="left">Куда отправитесь в этом году? </p>
  <p align="left">Указать свое имя, город и название компании, в которой вы работаете. </p>
<p align="left">Набрать плюсики в комментариях и выиграть!</p>
<p align="left"></p>

<p align="left"></p></span><b><span style="color:#ec008b">
<p align="left">Какие были призы:</p></span></b><span style="color:#07a2b0">
<p align="left">1 место &ndash;</p></span><b><span size="5" style="color:#ec1b24"><span size="5" style="color:#ec1b24"> </span></span><span size="5" style="color:#07a2b0"><span size="5" style="color:#07a2b0">IPhone 4S</span></span></b><span style="color:#818185">
<p align="left">Чтобы отпускные фото были еще более яркими.</p>
<p align="left"></p></span><span style="color:#07a2b0">
<p align="left">2 место &ndash; сертификат на фотосессию и стайлинг на 7000
рублей.</p></span><span style="color:#818185">
<p align="left"></p></span><span style="color:#07a2b0">
<p align="left">3 место &ndash; сертификат на парфюмерию и косметику на 5000
рублей.</p></span><span style="color:#818185">
<p align="left"></p>
<p align="left">&nbsp;</p>
<p align="left">Мы собрали коллекцию самых живых фотографий лета, заходите в <a target="_blank" href="http://vk.com/album-15320455_159250010" wrc-processed="pending">альбом</a>> полюбоваться!</p>
<p align="left">Море, горы, солнце, города, страны, люди, радость, счастье,
любовь, улыбки, тепло...</p>
<p align="left">1 и 2 место определялось по результатам количества набранных комментариев с плюсиками. </p>
<p align="left">3 место определялось оргкомитетом конкурса.</p>
<p align="left">Наша группа Вконтакте:</p></span><span style="color:#ec008b"><a target="_blank" href="http://vk.com/zhivoj_office" wrc-processed="pending">vk.com/zhivoj_office</a><span style="padding-right: 16px; width: 16px; height: 16px;" class="wrc0" onmouseover=" var self = this; showTimer = window.setTimeout(function(){WRCShowContent({'rating':{'value':-1,'weight':-1},'flags':{'shopping':null,'social':null,'news':null,'it':null,'corporate':null,'pornography':null,'violence':null,'gambling':null,'drugs':null,'illegal':null},'single':true,'ttl':null}, self.className)},600);" onmouseout="cancel = false; window.setTimeout(WRCHideContent, 1000); clearTimeout(showTimer);"></span>.</span></div>
<br/>
<p align="left"><a href="http://zhivojoffice.ru/info/contest">Конкурс "Летняя кухня Живого Офиса"</a></p>

<%end%>

