<% content_for(:tit) do %>
 Живой офис. Конкурс.
<%end%>
<% content_for(:cont) do %>
<div class="green_title">Конкурс</div>
<%= image_tag('/images2/lk2.gif') %> <br/> <br/><br/>
<div style="color: #808285;">
<p align="left">С <span style="color:#ed1c24">1 августа по 15 сентября</span><span style="color:#808285">
«Живой офис» проводил</span></p>
<p align="left">конкурс для офисных сотрудников Москвы и Санкт-Петербурга! </p>
<br/>

<p align="left">Летняя кухня «Живого офиса»</p>
<br/>

<p align="left">Салат «Живой офис» - легкий путь к хорошему настроению</p>
<br/>

<p>
Подведены итоги конкурса для офисных сотрудников, которые имеют право на легкость и хорошее настроение. </p>
<br/>
<p>Каждый день мы проводим за компьютером массу времени и поневоле набираем лишние килограммы. <br/>
Что как не полезный салатик поможет вернуть стройность и почувствовать легкость в теле?</p>
<br/>
<p style="color:#ed1c24; text-transform: uppercase;">ПОБЕДИТЕЛИ:</p></span></b>
<p align="left"><br/>Первое место: Ирина Венцек со своим "Живым салатом" и вручную расписанными тарелками</p>
<p align="left">Второе место: Натали Корчагина с аппетитным и красивым "Цезарем"</p>
<p align="left">Третье место: Никита Коломеец с веселыми огуречными парусниками</p>
<br>
<img height="400px" style="position: relative; top: 15px;" src="/images/lk.jpg"/>
<br/>


<br/>
<br/>
<p style="color:#ed1c24; text-transform: uppercase;">Что нужно было сделать:</p>
<p>Создать рецепт оригинального салата, ингредиенты могли быть зелеными и красными, а могли любыми,
  главное, чтобы он был легким и полезным для здоровья.<br/>
Написать рецепт салата и выложить фото в <a href="http://vk.com/album-15320455_160610017">альбоме нашей группы</a>.</p>
<br/>


<p style="color:#ed1c24;">Обязательное условие: салатик необходимо было украсить логотипом «Живой офис».</p>
<p> В подписи к фото обязательно было указать: <br/>
фамилию и имя;<br/>
город;<br/>
название компании;<br/>
должность.<br/>
Мы собрали коллекцию самых оригинальных и легких рецептов для офиса!</p>
<br/>

<p style="color:#ed1c24; text-transform: uppercase;">Призы</p>
<p style="color:#609841;">
1 место – <span style="font-size: 20px;"> Мастер-класс в кулинарной студии </span> <br/>
2 место – ресторан <br/>
3 место – фирменная посуда.</p>
<br/>



<p style="color:#609841;">
Критерии определения победителей: <br/>
состав и ингредиенты; <br/>
оформление; <br/>
креативный подход.</p>
<br/>

<p>
  Все призовые места определялись жюри с участием приглашенных независимых специалистов.
</p>
<br/>

<p>
  Подробности на <a href="http://vk.com/zhivoj_office">vk.com/zhivoj_office </a>
</p>
<br/>

<a href="http://zhivojoffice.ru/info/contest_otpusk">Конкурс "Отпуск - это маленькая жизнь"</a>


</div>





<%end%>

