<% content_for(:tit) do %>
Заказ для большого офиса!
<% end %>

<% content_for(:cont) do %>

<div style=" margin-top: 10px;   font-size: 18px;"><a href="/doc/bigoffice.pdf" style="color: #00AE4D;"> Скачать подробную инструкцию (pdf)</a> </div>

<div>
<img src="/images2/use_p.jpg" />  
</div>

<!--
<div>
<img src="/images2/use_p2.jpg" />
</div>
-->
<h2> Краткая инструкция. </h2>

<ol style="margin-left: 20px;">
  <li> Авторизуетесь </li>
  <li> Заходите в личный кабинет </li>
  <li> Выбираете пункт - Сотрудники </li>
  <li> Кнопка - добавить сотрудника </li>
  <li> Попадаете в форму добавления сотрудника </li>
  <li> Вводите:
    <ul style="margin-left: 20px;">
      <li> Логин </li>
      <li> Пароль </li>
      <li> E-mail </li>
      <li> Фамилию </li>
      <li> Имя </li>
      <li> Отдел </li>
      <li> Лимит разового заказа в рублях </li>
      <li> Ставите галочку, если хотите дать право сотрудникам самим оформлять заказ* </li>
    </ul>
  </li>
  <li>Завершить оформление. </li>
</ol>


<p style="margin-top: 10px;"><strong>* - Если не ставите галочку, оформить заказ для отдела сможете только Вы. Личный кабинет - сотрудники - посмотреть корзину.</strong> </p>

<%end%>