<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
Корпоративные торты на заказ с доставкой
    </title>
      <%#= yield :tit %>
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="товары для жизни офисных сотрудников" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
<%= stylesheet_link_tag 'vvk' %>
<%= stylesheet_link_tag 'cake' %>
   <%= javascript_include_tag :defaults  %>
      

  </head>
  <body>
    <!-- Yandex.Metrika -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<div style="display:none;"><script type="text/javascript">
try { var yaCounter1158528 = new Ya.Metrika(1158528); } catch(e){}
</script></div>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1158528" alt="" /></div></noscript>
<!-- /Yandex.Metrika -->
<%= render :partial=>'/part/left_right_menu' %>


    <div id="container">

      <div id="header-section" class="clearfix">
        <div id="header" class="wide">
      <div id="top_header">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <%= link_to image_tag('/images/podarki/logo.jpg', :class=>'logo') ,{:controller=>'/', :action=>'index'}, :class=>'top_link1'%>
            <!--  <a class="top_link1" href="/"><img src="/images/podarki/logo.jpg" alt="" class="logo" /></a>
            -->
            </td>
           

            <td align="right">
            <!-- <a href="/bas1/edit_cart" class="basket" ></a> -->

            </td>
           
            
            <td id="rl">
              <%unless login?%>
                        <%= link_to_remote "войти" ,{:url=>{:controller=>'kt1',:action=>'log1'},:update=>'rl',:html=>{:class=>'top_link4 login '}},:href => url_for(:controller=>'login',:action => "login"),:class=>'top_link4 login '%>
                        <a class="top_link4 reg" href="/login/add_user">регистрация</a>
                  <%else%>
                  Здравствуйте  <%= user_name %> !                     <a class="top_link4 reg" href="/login/logout">выйти</a>
                  <%end%>

              </td>
            <td></td>
          </tr>
        </table>
      </div>

  


        </div>

      </div>
    <%= render :partial=>'/cake1s/menu' %>
      <div id="main-section" class="clearfix">

        <div id="main" class="wide" style="">
   <% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] -%></div>
<% end -%>
        
            <div class="content" >


<%= yield :cont %>


            </div>
   

        </div>
        
      </div>
<div id="footer" class="wide clearfix">

           <div class="gadget blocks" id="block_5">
          <div class="content">
            <div class="divider"></div>
          </div>
        </div>



        <div class="gadget simplesite_menu">
          <div class="content" style=" text-align: center;">
            <span style="color:#3265a4;"><script language="JavaScript">
<!-- Begin
user = "support1";
site = "zhivojoffice.ru";
document.write('<a style="text-decoration:none;" href="mailto:' + user + '@' + site + '\">');
document.write('обратиться в службу поддержки' + '</a>');
// End -->
</script> </span>
            <br/>
              <br/>
            <span style="font-size:10px; color:#7c7c7c;">     Живой офис   &copy;  2011</span>
            <br/>
              <span style="font-size:10px; color:#7c7c7c;">Бумага ,канцтовары в офис <br/> с  бесплатной доставкой в Санкт-Петербурге.<br />  </span>
            <br/>

          </div>
        </div>




      </div>

  
    </div>


     <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15755615-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
