<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'form' %>
    <%#= stylesheet_link_tag 'admin' %>
   <%= javascript_include_tag :defaults  %>
    <%#= javascript_include_tag :ckeditor %>

  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>MGP-Piter. Магазин горящих путевок. тел.: +7(812)516-57-90</title>
<link rel="shortcut icon" href="http://mgp-piter/favicon.ico" type="image/x-icon" />
<link rel="icon" href="http://mgp-piter/favicon.ico" type="image/x-icon" />

<style type="text/css">
<!--
.style1 {
color: white;
}

#ces_container {width: 700px;}
-->
</style>
</head>

<body>
<div class="carrier">

  <table  border="0" cellpadding="0" cellspacing="0" >
    <tr align="left" valign="top">

      <td width="100%" align="left">

    <!-- <div class="header_up"></div>  -->
<div id="baner2_menu_carrier">
<p>
пр. Просвещения, д.33/1
</p>


 </div>
<%= render :partial=>'/main/menu' %>

      </td>

    </tr>
    <tr align="right" valign="top">
      <td width="100%" height="100%"><table width="100%" height="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
     <!--     <tr>
            <td height="7" align="left" valign="top" background="/images/rep_9.gif" style="background-repeat:repeat-x"></td>
          </tr>  -->
          <tr>
            <td ><table  class="carrier" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr align="left" valign="top" >



                <td  align="left" style="width:800px; " >
                <div class="title_carrier ">
                      <img src="/images/left_2.gif" width="19" height="22"  align="left" class="img_legt2"/>
                      <div  class="title"><%=@tit %> </div>
                    </div>

                    <div class="content" style="width: 780px; overflow: scroll; ">

             

                        <%= yield :cont %>
                    </div>
                </td>
                <td class="right_menu" >




                <div class="title_carrier">
                      <img src="/images/left_2.gif" width="19" height="22"  align="left" class="img_legt2">
                      <div  class="title">

                     Туры и отели</div>
                    </div>



                    <div class="right_content_box">


                      <a href="#"><img src="/images/point_2.gif" border="0"></a>
                      <a href="http://78.140.204.34/client_login.jsp" >Бронирование отелей <br/>&nbsp;&nbsp;&nbsp;(код 8008)  </a><br>
                      <a href="#"><img src="/images/point_2.gif" border="0"></a>
                      <a href="http://moi-tour.com/frame/go/27944/mgpvasilyeva " >Туры в Грецию</a><br>
                      <hr/>
                      <%= render :partial=>'/main/rmenu' %>
                        <a href="/rmenu1s/rm/8"><img src="/images/logo_good.png" width="100" height="33" border="0"></a>                    </div>
                 
                    
                      <div class="title_carrier">
                      <img src="/images/left_2.gif" width="19" height="22"  align="left" class="img_legt2">
                      <div  class="title">

                     Новости туризма</div>
                    </div>

                                


                 
                     <div class="right_content_box">

                    <a href="http://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*http://weather.yandex.ru/index.xml?city=26063"><img src="http://info.weather.yandex.net/informer/175x114/26063.png" border="0" alt="Яндекс.Погода"/><img width="1" height="1" src="http://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*http://img.yandex.ru/i/pix.gif" alt="" border="0"/></a>
                     </div>
                    <div class="right_content_box">
                    <!--Информер RosInvest.Com: Курсы валют-->
<a href="http://www.rosinvest.com/"  target="_blank"><img alt="Информеры - курсы валют" src="http://www.rosinvest.com/informs/120-88/orange.gif" border="0" width="120" height="88"></a>
<!--Информер RosInvest.Com-->
                    </div>
                    <div class="title_carrier">
                      <img src="/images/left_2.gif" width="19" height="22"  align="left" class="img_legt2">
                      <div  class="title">Полезные ссылки</div>
                    </div>
                    <div class="right_content_box" >

<a href="http://www.domodedovo.ru/">Аэропорт Домодедово</a><br/>
  <a href="http://www.pulkovoairport.ru/">Аэропорт Пулково</a><br/>
  <a href="http://svo.aero/">Аэропорт Шереметьево</a><br/>
  <a href="http://www.vnukovo.ru/rus/index.wbp">Аэропорт Внуково</a>                   
                    </div>
</td>
              </tr>
            </table></td>
          </tr>


          <tr>
            <td height="100%" align="left" valign="top" background="/images/rep_9.gif" bgcolor="#ECEDEC" style="background-repeat:repeat-x; background-position:top ">
            <div style="padding-top:13px; padding-bottom:20px">
              <div class="bottom_menu" >
              <a href="/main/index">Главная</a>
              <img src="/images/point_4.gif" width="5" height="6" hspace="4">
              <a href="/main/hot" >Горящие туры</a>
              <img src="/images/point_4.gif" width="5" height="6" hspace="4">
              <a href="/main/pass" >Загранпаспорта</a>
              <img src="/images/point_4.gif" width="5" height="6" hspace="4">
              <a href="/main/vis" >Визы и страхование</a>
              <img src="/images/point_4.gif" width="5" height="6" hspace="4">
              <a href="/main/contacts"  >Контакты</a>
              <img src="/images/point_4.gif" width="5" height="6" hspace="4">
              <a href="/main/act" >Акции</a>                          </div>
              <!-- <div class="copyright">Copyright © NaOtdih.com</div> -->
            </div>            </td>
          </tr>
      </table></td>
    </tr>
  </table>
</div>
<%= render :partial => '/part2/counters' %>
</body>
</html>
