<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <title>    <%= yield :tit %> </title>
 <!--    <title>Доставка товаров в офис. Канцтовары, бумага, папки, архивы, хозяйственные товары для офиса, расходные материалы для оргтехники, офисная мебель</title> -->
    <meta name="google-site-verification" content="JoOHpbb3fOJ3apQBUbGIkz1MDfoVeUy1_X_fpDev1hA" />
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Товары для жизни офисных сотрудников" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript"></script>
   <%= stylesheet_link_tag 'main_index' %>
   <%#= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'stuHover'  %>
   <%#= javascript_include_tag 'jquery-1.3.2.min'  %>



  </head>

<body>
<!--
    <script type="text/javascript">
 var jq=jQuery.noConflict();
 </script>
-->
    

  
    <div id="container" class="">
  <%= render :partial=>'/part_main/top_main_index' %>


<%= render :partial=>'/part_main/main_menu2' %>

<%= yield :cont %>

<%= render :partial => '/part_main/footer' %>


      </div>



  </body>
</html>

<!-- This document saved from http://www.zhivojoffice.ru/ -->

