<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>    <%= yield :tit %> </title>
 <!--    <title>Доставка товаров в офис. Канцтовары, бумага, папки, архивы, хозяйственные товары для офиса, расходные материалы для оргтехники, офисная мебель</title> -->
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Товары для жизни офисных сотрудников" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

   <%= stylesheet_link_tag 'vvk' %>
     <%= stylesheet_link_tag 'sale' %>
   <%= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'dropdown'  %>

   <!--[if IE]>
<style>
div.menu_2 {border-left: 1px dashed #7ebc57; border-right: 1px dashed #7ebc57;}
#header .menu a, #header .menu a:visited {padding: 10px 0 0px 8px;}
</style>
<![endif]-->
 <script type="text/javascript" src="/javascripts/app1.js"></script>
 <script type="text/javascript">
 var jq=jQuery.noConflict();
 </script>
 
  </head>
  
  <body onload="new Ajax.Updater('bar11','/kt3/oc1',{asynchronous:true,evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('<%= form_authenticity_token -%>')});">
    <!-- Yandex.Metrika -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<div style="display:none;"><script type="text/javascript">
try { var yaCounter1158528 = new Ya.Metrika(1158528); } catch(e){}
</script></div>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/1158528" alt="" /></div></noscript>


<div style="position:absolute; left:0; top: 200px; z-index:99;">
  <a href="/zz2"><img src="/images/open12.jpg" style="border:none" /></a></div>
  <div style="position:absolute; left:0; top: 330px; z-index:99;">
  <a href="/needs"><img src="/images/need.jpg" style="border:none" /></a></div>

<!-- /Yandex.Metrika -->
    <% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] -%></div>
<% end -%>
    <div id="container" class="">

      <div id="header-section" class="clearfix">

        <div id="top_header">
          <table cellpadding="0" cellspacing="0">
            <tr>
          <!--    <td><a class="top_link1" href="">рус&nbsp;/&nbsp;eng</a></td> -->
              <td><a class="top_link2" href="/contacts">контакты</a></td>
              <td><a class="top_link3" href="/pr">о проекте</a></td>
              <td><a class="top_link5" href="/kt1/franchise">франчайзинг</a></td>
              <!--   <td class="rails_login" id="rl"> -->
              <td  id="rl"  style="text-align:right;">
                  <%unless login?%>
                        <%= link_to_remote "войти" ,{:url=>{:controller=>'kt1',:action=>'log1'},:update=>'rl',:html=>{:class=>'top_link4 login '}},:href => url_for(:controller=>'login',:action => "login"),:class=>'top_link4 login '%>
                        <a class="top_link4 reg" href="/login/add_user">регистрация</a>
                  <%else%>
                  Здравствуйте  <%= user_name %> !                     <a class="top_link4 reg" href="/login/logout">выйти</a>
                  <%end%>


             </td>
            </tr>
          </table>
        </div>

        <div id="header" class="wide">
          <div id="attic"><a href="/"><img src="/images/logo_1.gif" alt="" class="logo" /></a>
            <h1><a href="/">Живой офис</a></h1>
            <p>товары для жизни офисных сотрудников</p>
          </div>
          <div class="gadget menu" id="gmenu_1">
            <div class="content">
             <%= render :partial=>'/part/topMenu' %>

            </div>
          </div>



        </div>

               <div id="hbar2" class="narrow">
    
          <div class="gadget blocks" id="block_1">
            <div class="content">
              <div class="cake_div">
                <a href="/торты на заказ">
                  <img src="/images/cake/main_link.jpg" width="62px" />
                  торты в офис <br/> на заказ
                </a>
              </div>
           <div class="water_div">
                <a href="/water/water">
                  <img src="/images/water/auqa.jpg" width="62px" />
                  доставка воды <br/> в офис
                </a>
              </div>
        <a href="http://www.zhivojoffice.ru/zakaz_catalogs/new" class="catalog"></a>

         <a href="/bas1/edit_cart" class="basket"></a>

            </div>
          </div>
        </div>

      </div>

      <div id="main-section" class="clearfix">

        <div id="main" class="wide">

          <div class="gadget static_page">
            <div class="content">
              <div class="gadget blocks" id="block_7">
                <div class="content">
                  <div class="submenu">
                    <div style="width:450px;float:left;"><a href="/kt1/paper" class="hk1">Бумага и канцтовары</a> | <a href="/kt1/tdo" class="hk1">Техника для офиса</a> | <a href="/kt1/tdov" class="hk1">Товары для офисной жизни</a>
                    </div>
                  </div>
              <div id="serch_box" >
                  <form name="search_form" method="get" action="/search/index">
                    <div id="ser2">
                    <input type=”text” id="ser22" name="search" />
                    </div>
                           <button id="ser_butt" type="submit" > </button>

                  </form>
                  </div>
                  <div style="clear: both;"> <img src="/images/sale_title.jpg" /> </div>

                 <%= yield :cont %>









                </div>
              </div>

            </div>
          </div>



        </div>





        <div id="bar1" class="narrow">
         
               
            <%= yield :stov %>
         
 
             <div id="bar11">

 <%= oc(0) %>
          </div>
        </div>

   

      </div>
<%= yield :subf %>
      

      <div id="footer" class="wide clearfix">
<div id="podvall">
<%= foo1 %>
</div>
    
        <div class="gadget tag-cloud">
          <h2>Облако тегов</h2>
          <div class="content">
            <%= tagcloud %>

          </div>
        </div>
        <div class="gadget blocks" id="block_5">
          <div class="content">
            <div class="divider"></div>
          </div>
        </div>



        <div class="gadget simplesite_menu">
          <div class="content" style=" text-align: center;">
            <span style="color:#3265a4;"><script language="JavaScript">
<!-- Begin
user = "support1";
site = "zhivojoffice.ru";
document.write('<a style="text-decoration:none;" href="mailto:' + user + '@' + site + '\">');
document.write('обратиться в службу поддержки' + '</a>');
// End -->
</script> </span>
            <br/>
              <br/>
            <span style="font-size:10px; color:#7c7c7c;">     Живой офис   &copy;  2011</span>
            <br/>
              <span style="font-size:10px; color:#7c7c7c;">Бумага ,канцтовары в офис <br/> с  бесплатной доставкой в Санкт-Петербурге.<br />  </span>
            <br/>

          </div>
        </div>




      </div>
      <div id="push"></div>
    </div>
  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15755615-1");
pageTracker._trackPageview();
} catch(err) {}</script>
<%= render :partial => '/part2/counters' %>
  </body>
</html>

<!-- This document saved from http://www.zhivojoffice.ru/ -->

