<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
  <head>
    <title>  <%= yield :tit %> </title>
 <!--    <title>Доставка товаров в офис. Канцтовары, бумага, папки, архивы, хозяйственные товары для офиса, расходные материалы для оргтехники, офисная мебель</title> -->
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Товары для жизни офисных сотрудников" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

   <%= stylesheet_link_tag 'index' %>
   <%= stylesheet_link_tag 'dropdown' %>

   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'dropdown'  %>
  <%#= javascript_include_tag :ckeditor %>
  <script src="/javascripts/ckeditor/ckeditor.js" type="text/javascript"></script>
 



  </head>
  <body>



    <div id="container" class="">

 <%= render :partial=>'/part2/top_header' %>

      <div id="all_cont">

        <div id="search_cont">
        <%= yield :cont %>
        </div>


      </div>


    </div>


<%= render :partial => '/part2/counters' %>
  </body>
</html>

<!-- This document saved from http://www.zhivojoffice.ru/ -->

