<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>   <%= yield :tit %> </title>
 <!--    <title>Доставка товаров в офис. Канцтовары, бумага, папки, архивы, хозяйственные товары для офиса, расходные материалы для оргтехники, офисная мебель</title> -->
    <meta name="author" content="Administrator" />
    <meta name="keywords" content="" />
    <meta name="description" content="Товары для жизни офисных сотрудников" />
    <meta http-equiv="content-language" content="ru" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />

   <%= stylesheet_link_tag 'vvk' %>
   <%= stylesheet_link_tag 'dropdown' %>
   <%= javascript_include_tag :defaults  %>
   <%= javascript_include_tag 'dropdown'  %>
<script type="text/javascript" src="/highslide/highslide-with-gallery.js"></script>
<script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />

   <!--[if IE]>
<style>
div.menu_2 {border-left: 1px dashed #7ebc57; border-right: 1px dashed #7ebc57;}
#header .menu a, #header .menu a:visited {padding: 10px 0 0px 8px;}
</style>
<![endif]-->
<script src="/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>

 <script type="text/javascript">
 var jq=jQuery.noConflict();
 </script>
 
  </head>
  <body>
 
<% @mu1=Messu1.find :first,:conditions=>["name=?",'Елена'] %>
         <% if @mu1.present==1 %>
                      <% @ll=Messager.count :conditions=>["pc=?",1] %>
                <% if @ll < 6 %>
                   <%= render :partial=>'/part/comm1' %>
                <%end%>
         <%end%>
<%= render :partial=>'/part/left_right_menu' %>
    <% if flash[:notice] -%>
  <div id="notice"><%= flash[:notice] -%></div>
<% end -%>
    <div id="container" class="">

      <div id="header-section" class="clearfix">

        <div id="top_header">
          <table cellpadding="0" cellspacing="0">
            <tr>
          <!--    <td><a class="top_link1" href="">рус&nbsp;/&nbsp;eng</a></td> -->
              <td><a class="top_link2" href="/contacts">контакты</a></td>
              <td><a class="top_link3" href="/pr">о проекте</a></td>
              <td><a class="top_link5" href="/kt1/franchise">франчайзинг</a></td>
              <!--   <td class="rails_login" id="rl"> -->
              <td  id="rl"  style="text-align:right;">
                  <%unless login?%>
                        <%= link_to_remote "войти" ,{:url=>{:controller=>'kt1',:action=>'log1'},:update=>'rl',:html=>{:class=>'top_link4 login '}},:href => url_for(:controller=>'login',:action => "login"),:class=>'top_link4 login '%>
                        <a class="top_link4 reg" href="/login/add_user">регистрация</a>
                  <%else%>
                  Здравствуйте  <%= user_name %> !                     <a class="top_link4 reg" href="/login/logout">выйти</a>
                  <%end%>


             </td>
            </tr>
          </table>
        </div>

        <div id="header" class="wide">
          <div id="attic"><a href="/"><img src="/images/logo_1.gif" alt="" class="logo" /></a>
            <h1><a href="/">Живой офис</a></h1>
            <p>товары для жизни офисных сотрудников</p>
          </div>
          <div class="gadget menu" id="gmenu_1">
            <div class="content">
             <%= render :partial=>'/part/topMenu' %>

            </div>
          </div>



        </div>

       

        <div id="hbar2" class="narrow">
          <div class="gadget blocks" id="block_13">
            <div class="content">
              <div id="bycode">
             <!--   <a href="/zpk/pp" class="catcode">Заказ по кодам каталога</a>-->
              </div>
            </div>
          </div>

  <!--        <div class="gadget blocks" id="block_1">
            <div class="content">
              <div id="basket">

                        <a href="/bas1/edit_cart" class="basket"></a>
                  <br />
                <a href="http://www.zhivojoffice.ru/zakaz_catalogs/new" class="catalog"></a>
              </div>
            </div>
          </div>

   -->

        </div>

      </div>

      <div id="main-section" class="clearfix">

        <div id="main" class="wide">

          <div class="gadget static_page">
            <div class="content">
              <div class="gadget blocks" id="block_7">
          
              <br />


                 <%= yield :cont %>








<!--  background: #94e0fe; -->
                </div>
              </div>

            </div>
          </div>



        </div>





      </div>
<%= yield :subf %>
      <div id="footer" class="wide clearfix">
<%#= render :partial=>'/part/cvet1' %>
    <!--    <div class="divider"></div> -->

     <!--   <div class="divider"></div> -->
        <div class="gadget tag-cloud">
          <h2>Облако тегов</h2>
          <div class="content">
            <%= tagcloud %>

          </div>
        </div>
        <div class="gadget blocks" id="block_5">
          <div class="content">
            <div class="divider"></div>
          </div>
        </div>



        <div class="gadget simplesite_menu">
          <div class="content" style=" text-align: center;">
            <span style="color:#3265a4;"><script language="JavaScript">
<!-- Begin
user = "support1";
site = "zhivojoffice.ru";
document.write('<a style="text-decoration:none;" href="mailto:' + user + '@' + site + '\">');
document.write('обратиться в службу поддержки' + '</a>');
// End -->
</script> </span>
            <br/>
              <br/>
            <span style="font-size:10px; color:#7c7c7c;">     Живой офис   &copy;  2011</span>
            <br/>
              <span style="font-size:10px; color:#7c7c7c;">Бумага ,канцтовары в офис <br/> с  бесплатной доставкой в Санкт-Петербурге.<br />  </span>
            <br/>

          </div>
        </div>




      </div>
      <div id="push"></div>
 

<%= render :partial => '/part2/counters' %>
  
  </body>
</html>

<!-- This document saved from http://www.zhivojoffice.ru/ -->

