<h1>Listing main1s</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Content</th>
  </tr>

<% @main1s.each do |main1| %>
  <tr>
    <td><%=h main1.title %></td>
    <td><%=h main1.url %></td>
    <td><%=h main1.content %></td>
    <td><%= link_to 'Show', main1 %></td>
    <td><%= link_to 'Edit', edit_main1_path(main1) %></td>
    <td><%= link_to 'Destroy', main1, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New main1', new_main1_path %>