<h1>New zakaz1</h1>

<% form_for(@zakaz1) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </p>
  <p>
    <%= f.label :dep_city %><br />
    <%= f.text_field :dep_city %>
  </p>
  <p>
    <%= f.label :dep_date %><br />
    <%= f.text_field :dep_date %>
  </p>
  <p>
    <%= f.label :adl_num %><br />
    <%= f.text_field :adl_num %>
  </p>
  <p>
    <%= f.label :chil_num %><br />
    <%= f.text_field :chil_num %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :food_type %><br />
    <%= f.text_field :food_type %>
  </p>
  <p>
    <%= f.label :hotel_grade %><br />
    <%= f.text_field :hotel_grade %>
  </p>
  <p>
    <%= f.label :cost_from %><br />
    <%= f.text_field :cost_from %>
  </p>
  <p>
    <%= f.label :cost_to %><br />
    <%= f.text_field :cost_to %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :mail %><br />
    <%= f.text_field :mail %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :dop %><br />
    <%= f.text_area :dop %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', zakaz1s_path %>